Connect postgrees

!pip install ipython-sql
!pip install psycopg2
!pip install sqlalchemy

In [2]:
import psycopg2 
import pandas as ps
from sqlalchemy import create_engine
from sqlalchemy import URL

url_object = URL.create(
    
    "postgresql+psycopg2",
    username="openpg",
    password="P@ssw0rd",  # plain (unescaped) text
    host="localhost",
    database="RetailDB",
)

#alchemyEngine = create_engine(postgresql+psycopg2://openpg:P@ssw0rd@localhost:5432/RetailDB);

alchemyEngine = create_engine(url_object);
# Connect to PostgreSQL server
print(alchemyEngine)
dbConnection = alchemyEngine.connect();

Engine(postgresql+psycopg2://openpg:***@localhost/RetailDB)

In [15]:
# Read data from PostgreSQL database table and load into a DataFrame instance
df   = ps.read_sql("SELECT * FROM sale_order_line LIMIT 100", dbConnection);
ps.set_option('display.expand_frame_repr', False);
df

    id  order_id  sequence  company_id  currency_id  order_partner_id  salesman_id  product_id  product_uom product_packaging_id  ...  reservation_begin  start_date is_rental return_date qty_returned parent_line_id pricing_id has_displayed_warning_upsell  remaining_hours  fsm_lot_id
0    1         1        10           1            1                11            6          42            1                 None  ...                NaT         NaT     False         NaT          0.0           None        NaN                         None              0.0        None
1    2         1        10           1            1                11            6          17            1                 None  ...                NaT         NaT     False         NaT          0.0           None        NaN                         None              0.0        None
2    3         1        10           1            1                11            6          16            1                 None  ...                NaT         NaT     False         NaT          0.0           None        NaN                         None              0.0        None
3    4         2        10           1            1                13            2          14            4                 None  ...                NaT         NaT     False         NaT          0.0           None        NaN                         None              0.0        None
4    5         2        10           1            1                13            2          15            4                 None  ...                NaT         NaT     False         NaT          0.0           None        NaN                         None              0.0        None
..  ..       ...       ...         ...          ...               ...          ...         ...          ...                  ...  ...                ...         ...       ...         ...          ...            ...        ...                          ...              ...         ...
95  92        54         3           1            2                11            2          90            1                 None  ...                NaT         NaT     False         NaT          0.0           None        NaN                         None              0.0        None
96  99        55         2           1            2                13            2          89            4                 None  ...                NaT         NaT     False         NaT          0.0           None        NaN                         None              0.0        None
97  98        55         1           1            2                13            2          87            4                 None  ...                NaT         NaT     False         NaT          0.0           None        NaN                         None            134.0        None
98  91        54         2           1            2                11            2          88            4                 None  ...                NaT         NaT     False         NaT          0.0           None        NaN                         None              0.0        None
99  94        54         2           1            2                11            2          88            4                 None  ...                NaT         NaT     False         NaT          0.0           None        NaN                         None              0.0        None

[100 rows x 56 columns]

In [ ]:
import sqlite3

In [16]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [29]:
 =postgresql://openpg:P@ssw0rd@localhost:5432/RetailDB
#DATABASE_URL=presto://user@localhost:8080/system

env: DATABASE_URL=postgresql://openpg:P@ssw0rd@localhost:5432/RetailDB

In [32]:
%env DATABASE_URL

'postgresql://openpg:P@ssw0rd@localhost:5432/RetailDB'

In [34]:
%%sql 
SELECT * FROM account_account LIMIT 100;

Traceback (most recent call last):
  File "c:\ProgramData\anaconda3\envs\Pay39\lib\site-packages\sqlalchemy\engine\base.py", line 145, in __init__
    self._dbapi_connection = engine.raw_connection()
  File "c:\ProgramData\anaconda3\envs\Pay39\lib\site-packages\sqlalchemy\engine\base.py", line 3293, in raw_connection
    return self.pool.connect()
  File "c:\ProgramData\anaconda3\envs\Pay39\lib\site-packages\sqlalchemy\pool\base.py", line 452, in connect
    return _ConnectionFairy._checkout(self)
  File "c:\ProgramData\anaconda3\envs\Pay39\lib\site-packages\sqlalchemy\pool\base.py", line 1268, in _checkout
    fairy = _ConnectionRecord.checkout(pool)
  File "c:\ProgramData\anaconda3\envs\Pay39\lib\site-packages\sqlalchemy\pool\base.py", line 716, in checkout
    rec = pool._do_get()
  File "c:\ProgramData\anaconda3\envs\Pay39\lib\site-packages\sqlalchemy\pool\impl.py", line 169, in _do_get
    self._dec_overflow()
  File "c:\ProgramData\anaconda3\envs\Pay39\lib\site-packages\sqlalchemy\util\langhelpers.py", line 147, in __exit__
    raise exc_value.with_traceback(exc_tb)
  File "c:\ProgramData\anaconda3\envs\Pay39\lib\site-packages\sqlalchemy\pool\impl.py", line 166, in _do_get
    return self._create_connection()
  File "c:\ProgramData\anaconda3\envs\Pay39\lib\site-packages\sqlalchemy\pool\base.py", line 393, in _create_connection
    return _ConnectionRecord(self)
  File "c:\ProgramData\anaconda3\envs\Pay39\lib\site-packages\sqlalchemy\pool\base.py", line 678, in __init__
    self.__connect()
  File "c:\ProgramData\anaconda3\envs\Pay39\lib\site-packages\sqlalchemy\pool\base.py", line 903, in __connect
    pool.logger.debug("Error on connect(): %s", e)
  File "c:\ProgramData\anaconda3\envs\Pay39\lib\site-packages\sqlalchemy\util\langhelpers.py", line 147, in __exit__
    raise exc_value.with_traceback(exc_tb)
  File "c:\ProgramData\anaconda3\envs\Pay39\lib\site-packages\sqlalchemy\pool\base.py", line 898, in __connect
    self.dbapi_connection = connection = pool._invoke_creator(self)
  File "c:\ProgramData\anaconda3\envs\Pay39\lib\site-packages\sqlalchemy\engine\create.py", line 637, in connect
    return dialect.connect(*cargs, **cparams)
  File "c:\ProgramData\anaconda3\envs\Pay39\lib\site-packages\sqlalchemy\engine\default.py", line 616, in connect
    return self.loaded_dbapi.connect(*cargs, **cparams)
  File "c:\ProgramData\anaconda3\envs\Pay39\lib\site-packages\psycopg2\__init__.py", line 122, in connect
    conn = _connect(dsn, connection_factory=connection_factory, **kwasync)
psycopg2.OperationalError: could not translate host name "ssw0rd@localhost" to address: Unknown server error


The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "c:\ProgramData\anaconda3\envs\Pay39\lib\site-packages\sql\magic.py", line 196, in execute
    conn = sql.connection.Connection.set(
  File "c:\ProgramData\anaconda3\envs\Pay39\lib\site-packages\sql\connection.py", line 78, in set
    cls.current = Connection(
  File "c:\ProgramData\anaconda3\envs\Pay39\lib\site-packages\sql\connection.py", line 55, in __init__
    self.internal_connection = engine.connect()
  File "c:\ProgramData\anaconda3\envs\Pay39\lib\site-packages\sqlalchemy\engine\base.py", line 3269, in connect
    return self._connection_cls(self)
  File "c:\ProgramData\anaconda3\envs\Pay39\lib\site-packages\sqlalchemy\engine\base.py", line 147, in __init__
    Connection._handle_dbapi_exception_noconnection(
  File "c:\ProgramData\anaconda3\envs\Pay39\lib\site-packages\sqlalchemy\engine\base.py", line 2431, in _handle_dbapi_exception_noconnection
    raise sqlalchemy_exception.with_traceback(exc_info[2]) from e
  File "c:\ProgramData\anaconda3\envs\Pay39\lib\site-packages\sqlalchemy\engine\base.py", line 145, in __init__
    self._dbapi_connection = engine.raw_connection()
  File "c:\ProgramData\anaconda3\envs\Pay39\lib\site-packages\sqlalchemy\engine\base.py", line 3293, in raw_connection
    return self.pool.connect()
  File "c:\ProgramData\anaconda3\envs\Pay39\lib\site-packages\sqlalchemy\pool\base.py", line 452, in connect
    return _ConnectionFairy._checkout(self)
  File "c:\ProgramData\anaconda3\envs\Pay39\lib\site-packages\sqlalchemy\pool\base.py", line 1268, in _checkout
    fairy = _ConnectionRecord.checkout(pool)
  File "c:\ProgramData\anaconda3\envs\Pay39\lib\site-packages\sqlalchemy\pool\base.py", line 716, in checkout
    rec = pool._do_get()
  File "c:\ProgramData\anaconda3\envs\Pay39\lib\site-packages\sqlalchemy\pool\impl.py", line 169, in _do_get
    self._dec_overflow()
  File "c:\ProgramData\anaconda3\envs\Pay39\lib\site-packages\sqlalchemy\util\langhelpers.py", line 147, in __exit__
    raise exc_value.with_traceback(exc_tb)
  File "c:\ProgramData\anaconda3\envs\Pay39\lib\site-packages\sqlalchemy\pool\impl.py", line 166, in _do_get
    return self._create_connection()
  File "c:\ProgramData\anaconda3\envs\Pay39\lib\site-packages\sqlalchemy\pool\base.py", line 393, in _create_connection
    return _ConnectionRecord(self)
  File "c:\ProgramData\anaconda3\envs\Pay39\lib\site-packages\sqlalchemy\pool\base.py", line 678, in __init__
    self.__connect()
  File "c:\ProgramData\anaconda3\envs\Pay39\lib\site-packages\sqlalchemy\pool\base.py", line 903, in __connect
    pool.logger.debug("Error on connect(): %s", e)
  File "c:\ProgramData\anaconda3\envs\Pay39\lib\site-packages\sqlalchemy\util\langhelpers.py", line 147, in __exit__
    raise exc_value.with_traceback(exc_tb)
  File "c:\ProgramData\anaconda3\envs\Pay39\lib\site-packages\sqlalchemy\pool\base.py", line 898, in __connect
    self.dbapi_connection = connection = pool._invoke_creator(self)
  File "c:\ProgramData\anaconda3\envs\Pay39\lib\site-packages\sqlalchemy\engine\create.py", line 637, in connect
    return dialect.connect(*cargs, **cparams)
  File "c:\ProgramData\anaconda3\envs\Pay39\lib\site-packages\sqlalchemy\engine\default.py", line 616, in connect
    return self.loaded_dbapi.connect(*cargs, **cparams)
  File "c:\ProgramData\anaconda3\envs\Pay39\lib\site-packages\psycopg2\__init__.py", line 122, in connect
    conn = _connect(dsn, connection_factory=connection_factory, **kwasync)
sqlalchemy.exc.OperationalError: (psycopg2.OperationalError) could not translate host name "ssw0rd@localhost" to address: Unknown server error

(Background on this error at: https://sqlalche.me/e/20/e3q8)

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])