#!pip install ipython-sql
#!pip install py-postgresql
#!pip install psycopg2-binary
#!pip install sqlalchemy
#!pip3 install sqlalchemy
#!pip3 install flask-sqlalchemy --user

# Connect to PostgreSQL server

In [1]:
import psycopg2 
import pandas as ps
from sqlalchemy import create_engine
from sqlalchemy import URL

url_object = URL.create(
    
    "postgresql+psycopg2",
    username="postgres",
    password="openpgpwd",  # plain (unescaped) text
    host="localhost",
   # database="test",
    database="RetailDB",
)
alchemyEngine = create_engine(url_object);
dbConnection = alchemyEngine.connect();

In [2]:
query='''SELECT order_id ,sum(price_total) as price_total FROM sale_order_line
        group by order_id
        order by sum(price_total)  desc
        ;'''
df=ps.read_sql(query,dbConnection)

# Connect to Mysql server

In [3]:
connMysql='mysql://{user}:{password}@localhost/mydbtest'.format(user='root',password='openpgpwd')

In [12]:
# Read data from PostgreSQL database table and load into a DataFrame in MySQL
chunksize=50
df_reader=ps.read_sql(query, dbConnection,chunksize=chunksize)
ps.set_option('display.expand_frame_repr', False)

for df in  df_reader :
    #insert into from Potstgres to Myqsql
    df.to_sql('sale_order_line',connMysql,if_exists='append',index=False)
    print(df,chunksize)
#dbConnection.close()

    order_id  price_total
0         55     74458.18
1         54     28088.23
2         44     17550.00
3         46     12250.00
4         56      9555.65
5         45      7752.00
6         23      4350.00
7         41      3645.00
8         38      3598.00
9          2      2947.50
10        20      2947.50
11         4      2240.00
12        21      2175.00
13        47      2075.00
14        52      2064.00
15        24      1990.00
16        36      1799.00
17        32      1799.00
18        19      1740.00
19         1      1740.00
20         7      1706.00
21        30      1599.00
22        14      1582.00
23        15      1541.50
24        22      1475.00
25        31      1349.00
26        28      1199.00
27        16      1186.50
28         3      1127.50
29        11      1096.50
30        29      1047.00
31        17       951.00
32        26       900.00
33        48       880.00
34        18       831.00
35        10       751.00
36         6       750.00
37        27       750.00
38         9       654.00
39        53       600.00
40        25       599.00
41        12       556.00
42         8       462.00
43        33       415.50
44        13       415.50
45         5       405.00
46        39       329.00
47        50       305.78
48        40       141.00
49        49        75.29 50
   order_id  price_total
0        34         66.0
1        51         60.0
2        35         47.0
3        37         25.0
4        42         14.0
5        43         12.5 50

In [6]:
df

   order_id  price_total
0        34         66.0
1        51         60.0
2        35         47.0
3        37         25.0
4        42         14.0
5        43         12.5

In [6]:
queryMysql='''select * from sale_order_line'''
dfMysql=ps.read_sql(queryMysql,connMysql)
dfMysql
#

NameError: name 'ps' is not defined

In [1]:
%load_ext sql

In [7]:
%env  DATABASE_URL = 'mysql://{user}:{password}@localhost/mydbtest'.format(user='root',password='openpgpwd')

env: DATABASE_URL='mysql://{user}:{password}@localhost/mydbtest'.format(user='root',password='openpgpwd')

In [2]:
connection_url = 'mysql://{user}:{password}@localhost/mydbtest'.format(user='root',password='openpgpwd')
%sql {connection_url}

In [5]:
%%sql  
select * from sale_order_line

 * mysql://root:***@localhost/mydbtest
0 rows affected.

[]

In [4]:
%%sql
delete from sale_order_line;

 * mysql://root:***@localhost/mydbtest
728 rows affected.

[]