Connect postgrees

!pip install ipython-sql

#!pip install ipython-sql
!pip install py-postgresql
#!pip install psycopg2-binary

In [60]:
import psycopg2 
import pandas as ps
from sqlalchemy import create_engine
from sqlalchemy import URL

url_object = URL.create(
    
    "postgresql+psycopg2",
    username="openpg",
    password="openpgpwd",
   # password="P@ssw0rd",  # plain (unescaped) text
    host="localhost",
    database="test",
   # database="RetailDB",
)

#alchemyEngine = create_engine(postgresql+psycopg2://openpg:P@ssw0rd@localhost:5432/RetailDB);

alchemyEngine = create_engine(url_object);
# Connect to PostgreSQL server
#print(alchemyEngine)
dbConnection = alchemyEngine.connect();
print(dbConnection)

<sqlalchemy.engine.base.Connection object at 0x0000025F5C1ED250>

In [61]:
# Read data from PostgreSQL database table and load into a DataFrame instance

df   = ps.read_sql("SELECT * FROM sale_order_line LIMIT 100", dbConnection)
ps.set_option('display.expand_frame_repr', False)

ObjectNotExecutableError: Not an executable object: 'SELECT * FROM sale_order_line LIMIT 100'

In [62]:
from sqlalchemy import text

con=alchemyEngine.connect()
query = "SELECT * FROM sale_order_line LIMIT 100;"
result =con.execute(text(query))
df= ps.DataFrame(list(result))
df

,id,order_id,name,sequence,invoice_status,price_unit,price_subtotal,price_tax,price_total,price_reduce,...,write_uid,write_date,route_id,planning_hours_planned,planning_hours_to_plan,is_service,project_id,task_id,remaining_hours,has_displayed_warning_upsell
0,59,28,Senior Architect (الجودة والتسليم),10,no,200.00,4000.00,0.0,4000.00,200.00,...,2,2022-07-02 14:20:40.041885,None,0.0,0.0,True,10.0,61.0,0.0,None
1,57,28,Senior Architect (الرسم الهندسي),10,no,200.00,10000.00,0.0,10000.00,200.00,...,2,2022-07-02 14:06:19.928895,None,0.0,0.0,True,10.0,59.0,0.0,None
2,58,28,Senior Architect (المجسات والحفر),10,no,200.00,20000.00,0.0,20000.00,200.00,...,2,2022-07-02 14:06:19.928895,None,0.0,0.0,True,10.0,60.0,0.0,None
3,1,1,[FURN_6666] Acoustic Bloc Screens,10,no,295.00,885.00,0.0,885.00,295.00,...,1,2022-06-29 11:11:49.004595,None,0.0,0.0,False,NaN,NaN,0.0,None
4,2,1,[FURN_8888] Office Lamp,10,no,145.00,725.00,0.0,725.00,145.00,...,1,2022-06-29 11:11:49.004595,None,0.0,0.0,False,NaN,NaN,0.0,None
5,3,1,[FURN_7777] Office Chair,10,no,65.00,130.00,0.0,130.00,65.00,...,1,2022-06-29 11:11:49.004595,None,0.0,0.0,False,NaN,NaN,0.0,None
6,4,2,Virtual Interior Design,10,no,75.00,1800.00,0.0,1800.00,75.00,...,1,2022-06-29 11:11:49.004595,None,0.0,0.0,True,NaN,NaN,0.0,None
7,5,2,Virtual Home Staging,10,no,38.25,1147.50,0.0,1147.50,38.25,...,1,2022-06-29 11:11:49.004595,None,0.0,0.0,True,NaN,NaN,0.0,None
8,6,3,Virtual Interior Design,10,no,30.75,307.50,0.0,307.50,30.75,...,1,2022-06-29 11:11:49.004595,None,0.0,0.0,True,NaN,NaN,0.0,None
9,7,3,[FURN_7777] Office Chair,10,no,70.00,70.00,0.0,70.00,70.00,...,1,2022-06-29 11:11:49.004595,None,0.0,0.0,False,NaN,NaN,0.0,None
10,61,30,كرسى,10,invoiced,50.00,50.00,7.5,57.50,50.00,...,8,2022-07-05 15:33:18.619721,None,0.0,0.0,False,NaN,NaN,0.0,None
11,8,4,Virtual Interior Design,10,no,75.00,1200.00,0.0,1200.00,75.00,...,1,2022-06-29 11:11:49.004595,None,0.0,0.0,True,NaN,NaN,0.0,None
12,9,4,[FURN_8888] Office Lamp,10,no,45.00,450.00,0.0,450.00,45.00,...,1,2022-06-29 11:11:49.004595,None,0.0,0.0,False,NaN,NaN,0.0,None
13,10,4,[FURN_6741] Large Meeting Table\nConference ro...,10,no,150.00,450.00,0.0,450.00,150.00,...,1,2022-06-29 11:11:49.004595,None,0.0,0.0,False,NaN,NaN,0.0,None
14,11,4,[FURN_7777] Office Chair,10,no,70.00,140.00,0.0,140.00,70.00,...,1,2022-06-29 11:11:49.004595,None,0.0,0.0,False,NaN,NaN,0.0,None
15,12,5,[FURN_8888] Office Lamp,10,no,405.00,405.00,0.0,405.00,405.00,...,1,2022-06-29 11:11:49.004595,None,0.0,0.0,False,NaN,NaN,0.0,None
16,13,6,"[FURN_0096] Customizable Desk (Steel, White)\n...",10,no,750.00,750.00,0.0,750.00,750.00,...,1,2022-06-29 11:11:49.004595,None,0.0,0.0,False,NaN,NaN,0.0,None
17,14,7,[FURN_6666] Acoustic Bloc Screens,10,no,295.00,1475.00,0.0,1475.00,295.00,...,1,2022-06-29 11:11:49.004595,None,0.0,0.0,False,NaN,NaN,0.0,None
18,16,7,[FURN_8888] Office Lamp,10,no,40.00,40.00,0.0,40.00,40.00,...,1,2022-06-29 11:11:49.004595,None,0.0,0.0,False,NaN,NaN,0.0,None
19,17,7,[FURN_7777] Office Chair,10,no,18.00,18.00,0.0,18.00,18.00,...,1,2022-06-29 11:11:49.004595,None,0.0,0.0,False,NaN,NaN,0.0,None
20,15,7,[FURN_8999] Three-Seat Sofa\nThree Seater Sofa...,10,to invoice,173.00,173.00,0.0,173.00,173.00,...,1,2022-06-29 11:11:49.004595,None,0.0,0.0,False,NaN,NaN,0.0,None
21,18,8,[FURN_8855] Drawer,10,no,110.50,221.00,0.0,221.00,110.50,...,1,2022-06-29 11:11:49.004595,None,0.0,0.0,False,NaN,NaN,0.0,None
22,19,8,[FURN_0269] Office Chair Black,10,no,120.50,241.00,0.0,241.00,120.50,...,1,2022-06-29 11:11:49.004595,None,0.0,0.0,False,NaN,NaN,0.0,None
23,20,9,[FURN_8855] Drawer,10,no,97.50,292.50,0.0,292.50,97.50,...,1,2022-06-29 11:11:49.004595,None,0.0,0.0,False,NaN,NaN,0.0,None
24,21,9,[FURN_0269] Office Chair Black,10,no,120.50,361.50,0.0,361.50,120.50,...,1,2022-06-29 11:11:49.004595,None,0.0,0.0,False,NaN,NaN,0.0,None
25,23,10,[FURN_0269] Office Chair Black,10,no,120.50,241.00,0.0,241.00,120.50,...,1,2022-06-29 11:11:49.004595,None,0.0,0.0,False,NaN,NaN,0.0,None
26,22,10,[FURN_6666] Acoustic Bloc Screens,10,no,255.00,510.00,0.0,510.00,255.00,...,1,2022-06-29 11:11:49.004595,None,0.0,0.0,False,NaN,NaN,0.0,None
27,25,11,[FURN_0269] Office Chair Black,10,no,120.50,361.50,0.0,361.50,120.50,...,1,2022-06-29 11:11:49.004595,None,0.0,0.0,False,NaN,NaN,0.0,None
28,24,11,[FURN_6666] Acoustic Bloc Screens,10,no,245.00,735.00,0.0,735.00,245.00,...,1,2022-06-29 11:11:49.004595,None,0.0,0.0,False,NaN,NaN,0.0,None
29,27,12,[FURN_0269] Office Chair Black,10,no,120.50,241.00,0.0,241.00,120.50,...,1,2022-06-29 11:11:49.004595,None,0.0,0.0,False,NaN,NaN,0.0,None
30,26,12,[FURN_6666] Acoustic Bloc Screens,10,no,315.00,315.00,0.0,315.00,315.00,...,1,2022-06-29 11:11:49.004595,None,0.0,0.0,False,NaN,NaN,0.0,None
31,28,13,[FURN_6666] Acoustic Bloc Screens,10,no,295.00,295.00,0.0,295.00,295.00,...,1,2022-06-29 11:11:49.004595,None,0.0,0.0,False,NaN,NaN,0.0,None
32,29,13,[FURN_0269] Office Chair Black,10,no,120.50,120.50,0.0,120.50,120.50,...,1,2022-06-29 11:11:49.004595,None,0.0,0.0,False,NaN,NaN,0.0,None
33,30,14,[FURN_6666] Acoustic Bloc Screens,10,no,275.00,1100.00,0.0,1100.00,275.00,...,1,2022-06-29 11:11:49.004595,None,0.0,0.0,False,NaN,NaN,0.0,None
34,31,14,[FURN_0269] Office Chair Black,10,no,120.50,482.00,0.0,482.00,120.50,...,1,2022-06-29 11:11:49.004595,None,0.0,0.0,False,NaN,NaN,0.0,None
35,33,15,[FURN_0269] Office Chair Black,10,no,120.50,361.50,0.0,361.50,120.50,...,1,2022-06-29 11:11:49.004595,None,0.0,0.0,False,NaN,NaN,0.0,None
36,32,15,[FURN_6666] Acoustic Bloc Screens,10,no,295.00,1180.00,0.0,1180.00,295.00,...,1,2022-06-29 11:11:49.004595,None,0.0,0.0,False,NaN,NaN,0.0,None
37,41,19,[FURN_8888] Office Lamp,10,no,145.00,725.00,0.0,725.00,145.00,...,1,2022-06-29 11:11:49.004595,None,0.0,0.0,False,NaN,NaN,0.0,None
38,42,19,[FURN_7777] Office Chair,10,no,65.00,130.00,0.0,130.00,65.00,...,1,2022-06-29 11:11:49.004595,None,0.0,0.0,False,NaN,NaN,0.0,None
39,43,20,Virtual Interior Design,10,no,75.00,1800.00,0.0,1800.00,75.00,...,1,2022-06-29 11:11:49.004595,None,0.0,0.0,True,NaN,NaN,0.0,None
40,44,20,Virtual Home Staging,10,no,38.25,1147.50,0.0,1147.50,38.25,...,1,2022-06-29 11:11:49.004595,None,0.0,0.0,True,NaN,NaN,0.0,None
41,35,16,[FURN_0269] Office Chair Black,10,no,120.50,361.50,0.0,361.50,120.50,...,1,2022-06-29 11:11:49.004595,None,0.0,0.0,False,NaN,NaN,0.0,None
42,34,16,[FURN_6666] Acoustic Bloc Screens,10,no,275.00,825.00,0.0,825.00,275.00,...,1,2022-06-29 11:11:49.004595,None,0.0,0.0,False,NaN,NaN,0.0,None
43,37,17,[FURN_0269] Office Chair Black,10,no,120.50,241.00,0.0,241.00,120.50,...,1,2022-06-29 11:11:49.004595,None,0.0,0.0,False,NaN,NaN,0.0,None
44,36,17,[FURN_6666] Acoustic Bloc Screens,10,no,355.00,710.00,0.0,710.00,355.00,...,1,2022-06-29 11:11:49.004595,None,0.0,0.0,False,NaN,NaN,0.0,None
45,39,18,[FURN_0269] Office Chair Black,10,no,120.50,241.00,0.0,241.00,120.50,...,1,2022-06-29 11:11:49.004595,None,0.0,0.0,False,NaN,NaN,0.0,None
46,38,18,[FURN_6666] Acoustic Bloc Screens,10,no,295.00,590.00,0.0,590.00,295.00,...,1,2022-06-29 11:11:49.004595,None,0.0,0.0,False,NaN,NaN,0.0,None
47,40,19,[FURN_6666] Acoustic Bloc Screens,10,no,295.00,885.00,0.0,885.00,295.00,...,1,2022-06-29 11:11:49.004595,None,0.0,0.0,False,NaN,NaN,0.0,None
48,45,21,[FURN_6666] Acoustic Bloc Screens,10,no,295.00,1475.00,0.0,1475.00,295.00,...,1,2022-06-29 11:11:49.004595,None,0.0,0.0,False,NaN,NaN,0.0,None
49,47,22,[FURN_6666] Acoustic Bloc Screens,10,no,295.00,1475.00,0.0,1475.00,295.00,...,1,2022-06-29 11:11:49.004595,None,0.0,0.0,False,NaN,NaN,0.0,None
50,46,21,[E-COM11] Cabinet with Doors,10,no,140.00,700.00,0.0,700.00,140.00,...,1,2022-06-29 11:11:49.004595,None,0.0,0.0,False,NaN,NaN,0.0,None
51,48,23,[FURN_6666] Acoustic Bloc Screens,10,no,295.00,2950.00,0.0,2950.00,295.00,...,1,2022-06-29 11:11:49.004595,None,0.0,0.0,False,NaN,NaN,0.0,None
52,49,23,[E-COM11] Cabinet with Doors,10,no,140.00,1400.00,0.0,1400.00,140.00,...,1,2022-06-29 11:11:49.004595,None,0.0,0.0,False,NaN,NaN,0.0,None
53,50,24,[E-COM06] Corner Desk Right Sit,10,no,199.00,1990.00,0.0,1990.00,199.00,...,1,2022-06-29 11:11:49.004595,None,0.0,0.0,False,NaN,NaN,0.0,None
54,51,3,Deposit,10,no,150.00,750.00,0.0,750.00,150.00,...,1,2022-06-29 11:11:49.004595,None,0.0,0.0,True,NaN,NaN,0.0,None
55,53,25,Kitchen Assembly (Milestones),3,no,500.00,2000.00,0.0,2000.00,500.00,...,1,2022-06-29 11:11:49.004595,None,0.0,0.0,True,NaN,NaN,0.0,None
56,56,26,Junior Architect (Invoice on Timesheets),2,to invoice,100.00,1000.00,0.0,1000.00,100.00,...,1,2022-06-29 11:11:49.004595,None,0.0,0.0,True,8.0,42.0,0.0,None
57,55,26,Customer Care (Prepaid Hours),1,to invoice,250.00,37500.00,0.0,37500.00,250.00,...,1,2022-06-29 11:11:49.004595,None,0.0,0.0,True,NaN,41.0,134.0,None
58,52,25,Customer Care (Prepaid Hours),1,to invoice,250.00,5000.00,0.0,5000.00,250.00,...,1,2022-06-29 11:11:49.004595,None,0.0,0.0,True,NaN,39.0,10.0,None
59,54,25,Senior Architect (Invoice on Timesheets),2,to invoice,200.00,9000.00,0.0,9000.00,180.00,...,1,2022-06-29 11:11:49.004595,None,0.0,0.0,True,7.0,40.0,0.0,None

In [63]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [64]:
%env  DATABASE_URL = postgresql://openpg:openpgpwd@localhost:5432/test
#DATABASE_URL=presto://user@localhost:8080/system

env: DATABASE_URL=postgresql://openpg:openpgpwd@localhost:5432/test

In [ ]:
%env DATABASE_URL

In [65]:
%sql postgresql://openpg:openpgpwd@localhost:5432/test

In [66]:
%%sql 
SELECT * FROM account_account LIMIT 100;

 * postgresql://openpg:***@localhost:5432/test
41 rows affected.

[(1, None, 'Liquidity Transfer', None, '101701', False, 5, 'other', 'asset', True, None, 1, None, 49048, False, 1, datetime.datetime(2022, 6, 29, 11, 12, 1, 553819), 1, datetime.datetime(2022, 6, 29, 11, 12, 1, 553819), False, None, 'no', False),
 (2, None, 'Current Assets', None, '101000', False, 5, 'other', 'asset', False, None, 1, None, 49048, False, 1, datetime.datetime(2022, 6, 29, 11, 12, 1, 553819), 1, datetime.datetime(2022, 6, 29, 11, 12, 1, 553819), False, None, 'no', False),
 (3, None, 'Stock Valuation', None, '110100', False, 5, 'other', 'asset', False, None, 1, None, 49049, False, 1, datetime.datetime(2022, 6, 29, 11, 12, 1, 553819), 1, datetime.datetime(2022, 6, 29, 11, 12, 1, 553819), False, None, 'no', False),
 (4, None, 'Stock Interim (Received)', None, '110200', False, 5, 'other', 'asset', True, None, 1, None, 49049, False, 1, datetime.datetime(2022, 6, 29, 11, 12, 1, 553819), 1, datetime.datetime(2022, 6, 29, 11, 12, 1, 553819), False, None, 'no', False),
 (5, None, 'Stock Interim (Delivered)', None, '110300', False, 5, 'other', 'asset', True, None, 1, None, 49049, False, 1, datetime.datetime(2022, 6, 29, 11, 12, 1, 553819), 1, datetime.datetime(2022, 6, 29, 11, 12, 1, 553819), False, None, 'no', False),
 (6, None, 'Account Receivable', None, '121000', False, 1, 'receivable', 'asset', True, None, 1, None, 49050, False, 1, datetime.datetime(2022, 6, 29, 11, 12, 1, 553819), 1, datetime.datetime(2022, 6, 29, 11, 12, 1, 553819), False, None, 'no', False),
 (7, None, 'Products to receive', None, '121100', False, 5, 'other', 'asset', True, None, 1, None, 49050, False, 1, datetime.datetime(2022, 6, 29, 11, 12, 1, 553819), 1, datetime.datetime(2022, 6, 29, 11, 12, 1, 553819), False, None, 'no', False),
 (8, None, 'Tax Paid', None, '131000', False, 5, 'other', 'asset', False, None, 1, None, 49051, False, 1, datetime.datetime(2022, 6, 29, 11, 12, 1, 553819), 1, datetime.datetime(2022, 6, 29, 11, 12, 1, 553819), False, None, 'no', False),
 (9, None, 'Tax Receivable', None, '132000', False, 5, 'other', 'asset', False, None, 1, None, 49051, False, 1, datetime.datetime(2022, 6, 29, 11, 12, 1, 553819), 1, datetime.datetime(2022, 6, 29, 11, 12, 1, 553819), False, None, 'no', False),
 (10, None, 'Prepayments', None, '141000', False, 7, 'other', 'asset', False, None, 1, None, 49052, False, 1, datetime.datetime(2022, 6, 29, 11, 12, 1, 553819), 1, datetime.datetime(2022, 6, 29, 11, 12, 1, 553819), False, None, 'no', False),
 (11, None, 'Fixed Asset', None, '151000', False, 8, 'other', 'asset', False, None, 1, None, 49053, False, 1, datetime.datetime(2022, 6, 29, 11, 12, 1, 553819), 1, datetime.datetime(2022, 6, 29, 11, 12, 1, 553819), False, None, 'no', False),
 (12, None, 'Non-current assets', None, '191000', False, 6, 'other', 'asset', False, None, 1, None, 49057, False, 1, datetime.datetime(2022, 6, 29, 11, 12, 1, 553819), 1, datetime.datetime(2022, 6, 29, 11, 12, 1, 553819), False, None, 'no', False),
 (13, None, 'Current Liabilities', None, '201000', False, 9, 'other', 'liability', False, None, 1, None, 50048, False, 1, datetime.datetime(2022, 6, 29, 11, 12, 1, 553819), 1, datetime.datetime(2022, 6, 29, 11, 12, 1, 553819), False, None, 'no', False),
 (14, None, 'Account Payable', None, '211000', False, 2, 'payable', 'liability', True, None, 1, None, 50049, False, 1, datetime.datetime(2022, 6, 29, 11, 12, 1, 553819), 1, datetime.datetime(2022, 6, 29, 11, 12, 1, 553819), False, None, 'no', False),
 (15, None, 'Bills to receive', None, '211100', False, 9, 'other', 'liability', True, None, 1, None, 50049, False, 1, datetime.datetime(2022, 6, 29, 11, 12, 1, 553819), 1, datetime.datetime(2022, 6, 29, 11, 12, 1, 553819), False, None, 'no', False),
 (16, None, 'Tax Received', None, '251000', False, 9, 'other', 'liability', False, None, 1, None, 50053, False, 1, datetime.datetime(2022, 6, 29, 11, 12, 1, 553819), 1, datetime.datetime(2022, 6, 29, 11, 12, 1, 553819), False, None, 'no', False),
 (17, None, 'Tax Payable', None, '252000', False, 9, 'other', 'liability', False, None, 1, None, 50053, False, 1, datetime.datetime(2022, 6, 29, 11, 12, 1, 553819), 1, datetime.datetime(2022, 6, 29, 11, 12, 1, 553819), False, None, 'no', False),
 (18, None, 'Non-current Liabilities', None, '291000', False, 10, 'other', 'liability', False, None, 1, None, 50057, False, 1, datetime.datetime(2022, 6, 29, 11, 12, 1, 553819), 1, datetime.datetime(2022, 6, 29, 11, 12, 1, 553819), False, None, 'no', False),
 (19, None, 'Capital', None, '301000', False, 11, 'other', 'equity', False, None, 1, None, 51048, False, 1, datetime.datetime(2022, 6, 29, 11, 12, 1, 553819), 1, datetime.datetime(2022, 6, 29, 11, 12, 1, 553819), False, None, 'no', False),
 (20, None, 'Dividends', None, '302000', False, 11, 'other', 'equity', False, None, 1, None, 51048, False, 1, datetime.datetime(2022, 6, 29, 11, 12, 1, 553819), 1, datetime.datetime(2022, 6, 29, 11, 12, 1, 553819), False, None, 'no', False),
 (21, None, 'Product Sales', None, '400000', False, 13, 'other', 'income', False, None, 1, None, 52048, False, 1, datetime.datetime(2022, 6, 29, 11, 12, 1, 553819), 1, datetime.datetime(2022, 6, 29, 11, 12, 1, 553819), False, None, 'no', False),
 (22, None, 'Foreign Exchange Gain', None, '441000', False, 13, 'other', 'income', False, None, 1, None, 52052, False, 1, datetime.datetime(2022, 6, 29, 11, 12, 1, 553819), 1, datetime.datetime(2022, 6, 29, 11, 12, 1, 553819), False, None, 'no', False),
 (23, None, 'Cash Difference Gain', None, '442000', False, 13, 'other', 'income', False, None, 1, None, 52052, False, 1, datetime.datetime(2022, 6, 29, 11, 12, 1, 553819), 1, datetime.datetime(2022, 6, 29, 11, 12, 1, 553819), False, None, 'no', False),
 (24, None, 'Other Income', None, '450000', False, 14, 'other', 'income', False, None, 1, None, 52053, False, 1, datetime.datetime(2022, 6, 29, 11, 12, 1, 553819), 1, datetime.datetime(2022, 6, 29, 11, 12, 1, 553819), False, None, 'no', False),
 (25, None, 'Cost of Goods Sold', None, '500000', False, 17, 'other', 'expense', False, None, 1, None, 53048, False, 1, datetime.datetime(2022, 6, 29, 11, 12, 1, 553819), 1, datetime.datetime(2022, 6, 29, 11, 12, 1, 553819), False, None, 'no', False),
 (26, None, 'Expenses', None, '600000', False, 15, 'other', 'expense', False, None, 1, None, 54048, False, 1, datetime.datetime(2022, 6, 29, 11, 12, 1, 553819), 1, datetime.datetime(2022, 6, 29, 11, 12, 1, 553819), False, None, 'no', False),
 (27, None, 'Purchase of Equipments', None, '611000', False, 15, 'other', 'expense', False, None, 1, None, 54049, False, 1, datetime.datetime(2022, 6, 29, 11, 12, 1, 553819), 1, datetime.datetime(2022, 6, 29, 11, 12, 1, 553819), False, None, 'no', False),
 (28, None, 'Rent', None, '612000', False, 15, 'other', 'expense', False, None, 1, None, 54049, False, 1, datetime.datetime(2022, 6, 29, 11, 12, 1, 553819), 1, datetime.datetime(2022, 6, 29, 11, 12, 1, 553819), False, None, 'no', False),
 (29, None, 'Bank Fees', None, '620000', False, 15, 'other', 'expense', False, None, 1, None, 54050, False, 1, datetime.datetime(2022, 6, 29, 11, 12, 1, 553819), 1, datetime.datetime(2022, 6, 29, 11, 12, 1, 553819), False, None, 'no', False),
 (30, None, 'Salary Expenses', None, '630000', False, 15, 'other', 'expense', False, None, 1, None, 54051, False, 1, datetime.datetime(2022, 6, 29, 11, 12, 1, 553819), 1, datetime.datetime(2022, 6, 29, 11, 12, 1, 553819), False, None, 'no', False),
 (31, None, 'Foreign Exchange Loss', None, '641000', False, 15, 'other', 'expense', False, None, 1, None, 54052, False, 1, datetime.datetime(2022, 6, 29, 11, 12, 1, 553819), 1, datetime.datetime(2022, 6, 29, 11, 12, 1, 553819), False, None, 'no', False),
 (32, None, 'Cash Difference Loss', None, '642000', False, 15, 'other', 'expense', False, None, 1, None, 54052, False, 1, datetime.datetime(2022, 6, 29, 11, 12, 1, 553819), 1, datetime.datetime(2022, 6, 29, 11, 12, 1, 553819), False, None, 'no', False),
 (33, None, 'RD Expenses', None, '961000', False, 15, 'other', 'expense', False, None, 1, None, 57054, False, 1, datetime.datetime(2022, 6, 29, 11, 12, 1, 553819), 1, datetime.datetime(2022, 6, 29, 11, 12, 1, 553819), False, None, 'no', False),
 (34, None, 'Sales Expenses', None, '962000', False, 15, 'other', 'expense', False, None, 1, None, 57054, False, 1, datetime.datetime(2022, 6, 29, 11, 12, 1, 553819), 1, datetime.datetime(2022, 6, 29, 11, 12, 1, 553819), False, None, 'no', False),
 (35, None, 'Account Receivable (PoS)', None, '101300', False, 1, 'receivable', 'asset', True, None, 1, None, 49048, False, 1, datetime.datetime(2022, 6, 29, 11, 12, 1, 553819), 1, datetime.datetime(2022, 6, 29, 11, 12, 1, 553819), False, None, 'no', False),
 (36, None, 'Bank Suspense Account', None, '101401', False, 9, 'other', 'liability', False, None, 1, None, 49048, False, 1, datetime.datetime(2022, 6, 29, 11, 12, 1, 553819), 1, datetime.datetime(2022, 6, 29, 11, 12, 1, 553819), False, None, 'no', False),
 (37, None, 'Outstanding Receipts', None, '101402', False, 5, 'other', 'asset', True, None, 1, None, 49048, False, 1, datetime.datetime(2022, 6, 29, 11, 12, 1, 553819), 1, datetime.datetime(2022, 6, 29, 11, 12, 1, 553819), False, None, 'no', False),
 (38, None, 'Outstanding Payments', None, '101403', False, 5, 'other', 'asset', True, None, 1, None, 49048, False, 1, datetime.datetime(2022, 6, 29, 11, 12, 1, 553819), 1, datetime.datetime(2022, 6, 29, 11, 12, 1, 553819), False, None, 'no', False),
 (39, None, 'Cash', None, '101501', False, 3, 'liquidity', 'asset', False, None, 1, None, 49048, False, 1, datetime.datetime(2022, 6, 29, 11, 12, 1, 553819), 1, datetime.datetime(2022, 6, 29, 11, 12, 1, 553819), False, None, 'no', False),
 (40, None, 'Bank', None, '101404', False, 3, 'liquidity', 'asset', False, None, 1, None, 49048, False, 1, datetime.datetime(2022, 6, 29, 11, 12, 1, 553819), 1, datetime.datetime(2022, 6, 29, 11, 12, 1, 553819), False, None, 'no', False),
 (41, None, 'Undistributed Profits/Losses', None, '999999', False, 12, 'other', 'equity', False, None, 1, None, 57057, False, 1, datetime.datetime(2022, 6, 29, 11, 12, 1, 553819), 1, datetime.datetime(2022, 6, 29, 11, 12, 1, 553819), False, None, 'no', False)]