In [1]:
import pandas as pd

In [ ]:
help(pd.read_sql)

#!pip install ipython-sql
#!pip install py-postgresql
#!pip install psycopg2-binary
#!pip install sqlalchemy
#!pip3 install sqlalchemy
#!pip3 install flask-sqlalchemy --user

# Connect to PostgreSQL server

In [21]:
import psycopg2 
import pandas as ps
from sqlalchemy import create_engine
from sqlalchemy import URL

url_object = URL.create(
    
    "postgresql+psycopg2",
    username="postgres",
    password="openpgpwd",  # plain (unescaped) text
    host="localhost",
   # database="test",
    database="RetailDB",
)
alchemyEngine = create_engine(url_object);
dbConnection = alchemyEngine.connect();

In [ ]:
query='''SELECT order_id ,sum(price_total) as price_total FROM sale_order_line
        group by order_id
        order by sum(price_total)  desc
        ;'''
df=ps.read_sql(query,dbConnection)
df

# Connect to Mysql server

In [23]:
connMysql='mysql://{user}:{password}@localhost/mydbtest'.format(user='root',password='openpgpwd')

In [24]:
# Read data from PostgreSQL database table and load into a DataFrame in MySQL

ps.set_option('display.expand_frame_repr', False)
for i in  ps.read_sql(query, dbConnection,chunksize=10):
    #insert into from Potstgres to Myqsql
    i.to_sql('sale_order_line',connMysql,if_exists='append',index=False)
    print(i)
#dbConnection.close()

   order_id  price_total
0        55     74458.18
1        54     28088.23
2        44     17550.00
3        46     12250.00
4        56      9555.65
5        45      7752.00
6        23      4350.00
7        41      3645.00
8        38      3598.00
9         2      2947.50
   order_id  price_total
0        20       2947.5
1         4       2240.0
2        21       2175.0
3        47       2075.0
4        52       2064.0
5        24       1990.0
6        36       1799.0
7        32       1799.0
8        19       1740.0
9         1       1740.0
   order_id  price_total
0         7       1706.0
1        30       1599.0
2        14       1582.0
3        15       1541.5
4        22       1475.0
5        31       1349.0
6        28       1199.0
7        16       1186.5
8         3       1127.5
9        11       1096.5
   order_id  price_total
0        29       1047.0
1        17        951.0
2        26        900.0
3        48        880.0
4        18        831.0
5        10        751.0
6         6        750.0
7        27        750.0
8         9        654.0
9        53        600.0
   order_id  price_total
0        25       599.00
1        12       556.00
2         8       462.00
3        33       415.50
4        13       415.50
5         5       405.00
6        39       329.00
7        50       305.78
8        40       141.00
9        49        75.29
   order_id  price_total
0        34         66.0
1        51         60.0
2        35         47.0
3        37         25.0
4        42         14.0
5        43         12.5

In [25]:
queryMysql='''select * from sale_order_line'''
dfMysql=ps.read_sql(queryMysql,connMysql)
dfMysql
#

    order_id  price_total
0         55     74458.18
1         54     28088.23
2         44     17550.00
3         46     12250.00
4         56      9555.65
5         45      7752.00
6         23      4350.00
7         41      3645.00
8         38      3598.00
9          2      2947.50
10        20      2947.50
11         4      2240.00
12        21      2175.00
13        47      2075.00
14        52      2064.00
15        24      1990.00
16        36      1799.00
17        32      1799.00
18        19      1740.00
19         1      1740.00
20         7      1706.00
21        30      1599.00
22        14      1582.00
23        15      1541.50
24        22      1475.00
25        31      1349.00
26        28      1199.00
27        16      1186.50
28         3      1127.50
29        11      1096.50
30        29      1047.00
31        17       951.00
32        26       900.00
33        48       880.00
34        18       831.00
35        10       751.00
36         6       750.00
37        27       750.00
38         9       654.00
39        53       600.00
40        25       599.00
41        12       556.00
42         8       462.00
43        33       415.50
44        13       415.50
45         5       405.00
46        39       329.00
47        50       305.78
48        40       141.00
49        49        75.29
50        34        66.00
51        51        60.00
52        35        47.00
53        37        25.00
54        42        14.00
55        43        12.50

In [13]:
%load_ext sql

In [14]:
%env  DATABASE_URL = 'mysql://{user}:{password}@localhost/mydbtest'.format(user='root',password='openpgpwd')

env: DATABASE_URL='mysql://{user}:{password}@localhost/mydbtest'.format(user='root',password='openpgpwd')

In [16]:
connection_url = 'mysql://{user}:{password}@localhost/mydbtest'.format(user='root',password='openpgpwd')
%sql {connection_url}

In [18]:
%%sql
delete from sale_order_line;

 * mysql://root:***@localhost/mydbtest
62 rows affected.

[]

In [ ]:
%%sql  
select * from sale_order_line