Connect postgrees

!pip install ipython-sql

In [ ]:
#!pip install ipython-sql
!pip install py-postgresql
#!pip install psycopg2-binary

In [ ]:
import psycopg2 
import pandas as ps
from sqlalchemy import create_engine
from sqlalchemy import URL

url_object = URL.create(
    
    "postgresql+psycopg2",
    username="openpg",
    password="openpgpwd",
   # password="P@ssw0rd",  # plain (unescaped) text
    host="localhost",
    database="test",
   # database="RetailDB",
)

#alchemyEngine = create_engine(postgresql+psycopg2://openpg:P@ssw0rd@localhost:5432/RetailDB);

alchemyEngine = create_engine(url_object);
# Connect to PostgreSQL server
print(alchemyEngine)
dbConnection = alchemyEngine.connect();

In [ ]:
# Read data from PostgreSQL database table and load into a DataFrame instance
from sqlalchemy import text

df   = ps.read_sql("SELECT * FROM sale_order_line LIMIT 100", dbConnection)
#ps.set_option('display.expand_frame_repr', False)

In [ ]:
from sqlalchemy import text

con=alchemyEngine.connect()
query = "SELECT * FROM sale_order_line LIMIT 100;"
result =con.execute(text(query))
df= ps.DataFrame(list(result))
df

In [ ]:
import sqlite3

In [ ]:
%load_ext sql

In [47]:
%env  DATABASE_URL = postgresql://openpg:openpgpwd@localhost:5432/test
#DATABASE_URL=presto://user@localhost:8080/system

env: DATABASE_URL=postgresql://openpg:openpgpwd@localhost:5432/test

In [ ]:
%env DATABASE_URL

In [48]:
%sql postgresql://openpg:openpgpwd@localhost:5432/test

In [49]:
%%sql 
SELECT * FROM account_account LIMIT 100;

 * postgresql://openpg:***@localhost:5432/test
41 rows affected.

[(1, None, 'Liquidity Transfer', None, '101701', False, 5, 'other', 'asset', True, None, 1, None, 49048, False, 1, datetime.datetime(2022, 6, 29, 11, 12, 1, 553819), 1, datetime.datetime(2022, 6, 29, 11, 12, 1, 553819), False, None, 'no', False),
 (2, None, 'Current Assets', None, '101000', False, 5, 'other', 'asset', False, None, 1, None, 49048, False, 1, datetime.datetime(2022, 6, 29, 11, 12, 1, 553819), 1, datetime.datetime(2022, 6, 29, 11, 12, 1, 553819), False, None, 'no', False),
 (3, None, 'Stock Valuation', None, '110100', False, 5, 'other', 'asset', False, None, 1, None, 49049, False, 1, datetime.datetime(2022, 6, 29, 11, 12, 1, 553819), 1, datetime.datetime(2022, 6, 29, 11, 12, 1, 553819), False, None, 'no', False),
 (4, None, 'Stock Interim (Received)', None, '110200', False, 5, 'other', 'asset', True, None, 1, None, 49049, False, 1, datetime.datetime(2022, 6, 29, 11, 12, 1, 553819), 1, datetime.datetime(2022, 6, 29, 11, 12, 1, 553819), False, None, 'no', False),
 (5, None, 'Stock Interim (Delivered)', None, '110300', False, 5, 'other', 'asset', True, None, 1, None, 49049, False, 1, datetime.datetime(2022, 6, 29, 11, 12, 1, 553819), 1, datetime.datetime(2022, 6, 29, 11, 12, 1, 553819), False, None, 'no', False),
 (6, None, 'Account Receivable', None, '121000', False, 1, 'receivable', 'asset', True, None, 1, None, 49050, False, 1, datetime.datetime(2022, 6, 29, 11, 12, 1, 553819), 1, datetime.datetime(2022, 6, 29, 11, 12, 1, 553819), False, None, 'no', False),
 (7, None, 'Products to receive', None, '121100', False, 5, 'other', 'asset', True, None, 1, None, 49050, False, 1, datetime.datetime(2022, 6, 29, 11, 12, 1, 553819), 1, datetime.datetime(2022, 6, 29, 11, 12, 1, 553819), False, None, 'no', False),
 (8, None, 'Tax Paid', None, '131000', False, 5, 'other', 'asset', False, None, 1, None, 49051, False, 1, datetime.datetime(2022, 6, 29, 11, 12, 1, 553819), 1, datetime.datetime(2022, 6, 29, 11, 12, 1, 553819), False, None, 'no', False),
 (9, None, 'Tax Receivable', None, '132000', False, 5, 'other', 'asset', False, None, 1, None, 49051, False, 1, datetime.datetime(2022, 6, 29, 11, 12, 1, 553819), 1, datetime.datetime(2022, 6, 29, 11, 12, 1, 553819), False, None, 'no', False),
 (10, None, 'Prepayments', None, '141000', False, 7, 'other', 'asset', False, None, 1, None, 49052, False, 1, datetime.datetime(2022, 6, 29, 11, 12, 1, 553819), 1, datetime.datetime(2022, 6, 29, 11, 12, 1, 553819), False, None, 'no', False),
 (11, None, 'Fixed Asset', None, '151000', False, 8, 'other', 'asset', False, None, 1, None, 49053, False, 1, datetime.datetime(2022, 6, 29, 11, 12, 1, 553819), 1, datetime.datetime(2022, 6, 29, 11, 12, 1, 553819), False, None, 'no', False),
 (12, None, 'Non-current assets', None, '191000', False, 6, 'other', 'asset', False, None, 1, None, 49057, False, 1, datetime.datetime(2022, 6, 29, 11, 12, 1, 553819), 1, datetime.datetime(2022, 6, 29, 11, 12, 1, 553819), False, None, 'no', False),
 (13, None, 'Current Liabilities', None, '201000', False, 9, 'other', 'liability', False, None, 1, None, 50048, False, 1, datetime.datetime(2022, 6, 29, 11, 12, 1, 553819), 1, datetime.datetime(2022, 6, 29, 11, 12, 1, 553819), False, None, 'no', False),
 (14, None, 'Account Payable', None, '211000', False, 2, 'payable', 'liability', True, None, 1, None, 50049, False, 1, datetime.datetime(2022, 6, 29, 11, 12, 1, 553819), 1, datetime.datetime(2022, 6, 29, 11, 12, 1, 553819), False, None, 'no', False),
 (15, None, 'Bills to receive', None, '211100', False, 9, 'other', 'liability', True, None, 1, None, 50049, False, 1, datetime.datetime(2022, 6, 29, 11, 12, 1, 553819), 1, datetime.datetime(2022, 6, 29, 11, 12, 1, 553819), False, None, 'no', False),
 (16, None, 'Tax Received', None, '251000', False, 9, 'other', 'liability', False, None, 1, None, 50053, False, 1, datetime.datetime(2022, 6, 29, 11, 12, 1, 553819), 1, datetime.datetime(2022, 6, 29, 11, 12, 1, 553819), False, None, 'no', False),
 (17, None, 'Tax Payable', None, '252000', False, 9, 'other', 'liability', False, None, 1, None, 50053, False, 1, datetime.datetime(2022, 6, 29, 11, 12, 1, 553819), 1, datetime.datetime(2022, 6, 29, 11, 12, 1, 553819), False, None, 'no', False),
 (18, None, 'Non-current Liabilities', None, '291000', False, 10, 'other', 'liability', False, None, 1, None, 50057, False, 1, datetime.datetime(2022, 6, 29, 11, 12, 1, 553819), 1, datetime.datetime(2022, 6, 29, 11, 12, 1, 553819), False, None, 'no', False),
 (19, None, 'Capital', None, '301000', False, 11, 'other', 'equity', False, None, 1, None, 51048, False, 1, datetime.datetime(2022, 6, 29, 11, 12, 1, 553819), 1, datetime.datetime(2022, 6, 29, 11, 12, 1, 553819), False, None, 'no', False),
 (20, None, 'Dividends', None, '302000', False, 11, 'other', 'equity', False, None, 1, None, 51048, False, 1, datetime.datetime(2022, 6, 29, 11, 12, 1, 553819), 1, datetime.datetime(2022, 6, 29, 11, 12, 1, 553819), False, None, 'no', False),
 (21, None, 'Product Sales', None, '400000', False, 13, 'other', 'income', False, None, 1, None, 52048, False, 1, datetime.datetime(2022, 6, 29, 11, 12, 1, 553819), 1, datetime.datetime(2022, 6, 29, 11, 12, 1, 553819), False, None, 'no', False),
 (22, None, 'Foreign Exchange Gain', None, '441000', False, 13, 'other', 'income', False, None, 1, None, 52052, False, 1, datetime.datetime(2022, 6, 29, 11, 12, 1, 553819), 1, datetime.datetime(2022, 6, 29, 11, 12, 1, 553819), False, None, 'no', False),
 (23, None, 'Cash Difference Gain', None, '442000', False, 13, 'other', 'income', False, None, 1, None, 52052, False, 1, datetime.datetime(2022, 6, 29, 11, 12, 1, 553819), 1, datetime.datetime(2022, 6, 29, 11, 12, 1, 553819), False, None, 'no', False),
 (24, None, 'Other Income', None, '450000', False, 14, 'other', 'income', False, None, 1, None, 52053, False, 1, datetime.datetime(2022, 6, 29, 11, 12, 1, 553819), 1, datetime.datetime(2022, 6, 29, 11, 12, 1, 553819), False, None, 'no', False),
 (25, None, 'Cost of Goods Sold', None, '500000', False, 17, 'other', 'expense', False, None, 1, None, 53048, False, 1, datetime.datetime(2022, 6, 29, 11, 12, 1, 553819), 1, datetime.datetime(2022, 6, 29, 11, 12, 1, 553819), False, None, 'no', False),
 (26, None, 'Expenses', None, '600000', False, 15, 'other', 'expense', False, None, 1, None, 54048, False, 1, datetime.datetime(2022, 6, 29, 11, 12, 1, 553819), 1, datetime.datetime(2022, 6, 29, 11, 12, 1, 553819), False, None, 'no', False),
 (27, None, 'Purchase of Equipments', None, '611000', False, 15, 'other', 'expense', False, None, 1, None, 54049, False, 1, datetime.datetime(2022, 6, 29, 11, 12, 1, 553819), 1, datetime.datetime(2022, 6, 29, 11, 12, 1, 553819), False, None, 'no', False),
 (28, None, 'Rent', None, '612000', False, 15, 'other', 'expense', False, None, 1, None, 54049, False, 1, datetime.datetime(2022, 6, 29, 11, 12, 1, 553819), 1, datetime.datetime(2022, 6, 29, 11, 12, 1, 553819), False, None, 'no', False),
 (29, None, 'Bank Fees', None, '620000', False, 15, 'other', 'expense', False, None, 1, None, 54050, False, 1, datetime.datetime(2022, 6, 29, 11, 12, 1, 553819), 1, datetime.datetime(2022, 6, 29, 11, 12, 1, 553819), False, None, 'no', False),
 (30, None, 'Salary Expenses', None, '630000', False, 15, 'other', 'expense', False, None, 1, None, 54051, False, 1, datetime.datetime(2022, 6, 29, 11, 12, 1, 553819), 1, datetime.datetime(2022, 6, 29, 11, 12, 1, 553819), False, None, 'no', False),
 (31, None, 'Foreign Exchange Loss', None, '641000', False, 15, 'other', 'expense', False, None, 1, None, 54052, False, 1, datetime.datetime(2022, 6, 29, 11, 12, 1, 553819), 1, datetime.datetime(2022, 6, 29, 11, 12, 1, 553819), False, None, 'no', False),
 (32, None, 'Cash Difference Loss', None, '642000', False, 15, 'other', 'expense', False, None, 1, None, 54052, False, 1, datetime.datetime(2022, 6, 29, 11, 12, 1, 553819), 1, datetime.datetime(2022, 6, 29, 11, 12, 1, 553819), False, None, 'no', False),
 (33, None, 'RD Expenses', None, '961000', False, 15, 'other', 'expense', False, None, 1, None, 57054, False, 1, datetime.datetime(2022, 6, 29, 11, 12, 1, 553819), 1, datetime.datetime(2022, 6, 29, 11, 12, 1, 553819), False, None, 'no', False),
 (34, None, 'Sales Expenses', None, '962000', False, 15, 'other', 'expense', False, None, 1, None, 57054, False, 1, datetime.datetime(2022, 6, 29, 11, 12, 1, 553819), 1, datetime.datetime(2022, 6, 29, 11, 12, 1, 553819), False, None, 'no', False),
 (35, None, 'Account Receivable (PoS)', None, '101300', False, 1, 'receivable', 'asset', True, None, 1, None, 49048, False, 1, datetime.datetime(2022, 6, 29, 11, 12, 1, 553819), 1, datetime.datetime(2022, 6, 29, 11, 12, 1, 553819), False, None, 'no', False),
 (36, None, 'Bank Suspense Account', None, '101401', False, 9, 'other', 'liability', False, None, 1, None, 49048, False, 1, datetime.datetime(2022, 6, 29, 11, 12, 1, 553819), 1, datetime.datetime(2022, 6, 29, 11, 12, 1, 553819), False, None, 'no', False),
 (37, None, 'Outstanding Receipts', None, '101402', False, 5, 'other', 'asset', True, None, 1, None, 49048, False, 1, datetime.datetime(2022, 6, 29, 11, 12, 1, 553819), 1, datetime.datetime(2022, 6, 29, 11, 12, 1, 553819), False, None, 'no', False),
 (38, None, 'Outstanding Payments', None, '101403', False, 5, 'other', 'asset', True, None, 1, None, 49048, False, 1, datetime.datetime(2022, 6, 29, 11, 12, 1, 553819), 1, datetime.datetime(2022, 6, 29, 11, 12, 1, 553819), False, None, 'no', False),
 (39, None, 'Cash', None, '101501', False, 3, 'liquidity', 'asset', False, None, 1, None, 49048, False, 1, datetime.datetime(2022, 6, 29, 11, 12, 1, 553819), 1, datetime.datetime(2022, 6, 29, 11, 12, 1, 553819), False, None, 'no', False),
 (40, None, 'Bank', None, '101404', False, 3, 'liquidity', 'asset', False, None, 1, None, 49048, False, 1, datetime.datetime(2022, 6, 29, 11, 12, 1, 553819), 1, datetime.datetime(2022, 6, 29, 11, 12, 1, 553819), False, None, 'no', False),
 (41, None, 'Undistributed Profits/Losses', None, '999999', False, 12, 'other', 'equity', False, None, 1, None, 57057, False, 1, datetime.datetime(2022, 6, 29, 11, 12, 1, 553819), 1, datetime.datetime(2022, 6, 29, 11, 12, 1, 553819), False, None, 'no', False)]