!pip install Lib.txt

# Connect to PostgreSQL server

In [30]:
import psycopg2 
import pandas as ps
from sqlalchemy import create_engine
from sqlalchemy import URL

url_object = URL.create(
    
    "postgresql+psycopg2",
    username="postgres",
    password="openpgpwd",  # plain (unescaped) text
    host="localhost",
   # database="test",
    database="RetailDB",
)
alchemyEngine = create_engine(url_object);
dbConnection = alchemyEngine.connect();

In [31]:
query='''SELECT order_id ,sum(price_total) as price_total FROM sale_order_line
        group by order_id
        order by sum(price_total)  desc
        ;'''
df=ps.read_sql(query,dbConnection)

# Connect to Mysql server

In [32]:
connMysql='mysql://{user}:{password}@localhost/mydbtest'.format(user='root',password='openpgpwd')

In [33]:
# Read data from PostgreSQL database table and load into a DataFrame in MySQL
chunksize=20
df_reader=ps.read_sql(query, dbConnection,chunksize=chunksize)
ps.set_option('display.expand_frame_repr', False)

for df in  df_reader :
    #insert into from Potstgres to Myqsql
    df.to_sql('sale_order_line',connMysql,if_exists='append',index=False)
    print(df,df.shape)
#dbConnection.close()

    order_id  price_total
0         55     74458.18
1         54     28088.23
2         44     17550.00
3         46     12250.00
4         56      9555.65
5         45      7752.00
6         23      4350.00
7         41      3645.00
8         38      3598.00
9          2      2947.50
10        20      2947.50
11         4      2240.00
12        21      2175.00
13        47      2075.00
14        52      2064.00
15        24      1990.00
16        36      1799.00
17        32      1799.00
18        19      1740.00
19         1      1740.00 (20, 2)
    order_id  price_total
0          7       1706.0
1         30       1599.0
2         14       1582.0
3         15       1541.5
4         22       1475.0
5         31       1349.0
6         28       1199.0
7         16       1186.5
8          3       1127.5
9         11       1096.5
10        29       1047.0
11        17        951.0
12        26        900.0
13        48        880.0
14        18        831.0
15        10        751.0
16         6        750.0
17        27        750.0
18         9        654.0
19        53        600.0 (20, 2)
    order_id  price_total
0         25       599.00
1         12       556.00
2          8       462.00
3         33       415.50
4         13       415.50
5          5       405.00
6         39       329.00
7         50       305.78
8         40       141.00
9         49        75.29
10        34        66.00
11        51        60.00
12        35        47.00
13        37        25.00
14        42        14.00
15        43        12.50 (16, 2)

In [27]:
queryMysql='''select * from sale_order_line'''
dfMysql=ps.read_sql(queryMysql,connMysql)
dfMysql
#

     order_id  price_total
0          55     74458.18
1          54     28088.23
2          44     17550.00
3          46     12250.00
4          56      9555.65
..        ...          ...
107        51        60.00
108        35        47.00
109        37        25.00
110        42        14.00
111        43        12.50

[112 rows x 2 columns]

In [ ]:
%load_ext sql

In [ ]:
%env  DATABASE_URL = 'mysql://{user}:{password}@localhost/mydbtest'.format(user='root',password='openpgpwd')

In [ ]:
connection_url = 'mysql://{user}:{password}@localhost/mydbtest'.format(user='root',password='openpgpwd')
%sql {connection_url}

In [ ]:
%%sql  
select * from sale_order_line

In [28]:
%%sql
delete from sale_order_line;

 * mysql://root:***@localhost/mydbtest
112 rows affected.

[]