#!pip install ipython-sql
#!pip install py-postgresql
#!pip install psycopg2-binary
#!pip install sqlalchemy
#!pip3 install sqlalchemy
#!pip3 install flask-sqlalchemy --user

# Connect to PostgreSQL server

In [ ]:
import psycopg2 
import pandas as ps
from sqlalchemy import create_engine
from sqlalchemy import URL

url_object = URL.create(
    
    "postgresql+psycopg2",
    username="postgres",
    password="openpgpwd",  # plain (unescaped) text
    host="localhost",
   # database="test",
    database="RetailDB",
)
alchemyEngine = create_engine(url_object);
dbConnection = alchemyEngine.connect();

In [ ]:
query='''SELECT order_id ,sum(price_total) as price_total FROM sale_order_line
        group by order_id
        order by sum(price_total)  desc
        ;'''
df=ps.read_sql(query,dbConnection)
df

# Connect to Mysql server

In [ ]:
connMysql='mysql://{user}:{password}@localhost/mydbtest'.format(user='root',password='openpgpwd')

In [ ]:
# Read data from PostgreSQL database table and load into a DataFrame in MySQL

ps.set_option('display.expand_frame_repr', False)
for i in  ps.read_sql(query, dbConnection,chunksize=10):
    #insert into from Potstgres to Myqsql
    i.to_sql('sale_order_line',connMysql,if_exists='append',index=False)
    print(i)
#dbConnection.close()

In [ ]:
queryMysql='''select * from sale_order_line'''
dfMysql=ps.read_sql(queryMysql,connMysql)
dfMysql
#

In [ ]:
%load_ext sql

In [ ]:
%env  DATABASE_URL = 'mysql://{user}:{password}@localhost/mydbtest'.format(user='root',password='openpgpwd')

In [ ]:
connection_url = 'mysql://{user}:{password}@localhost/mydbtest'.format(user='root',password='openpgpwd')
%sql {connection_url}

In [ ]:
%%sql
delete from sale_order_line;

In [ ]:
%%sql  
select * from sale_order_line