Connect postgrees

#!pip install ipython-sql
#!pip install py-postgresql
#!pip install psycopg2-binary
#!pip install sqlalchemy
#!pip3 install sqlalchemy
#!pip3 install flask-sqlalchemy --user

In [ ]:
""" import psycopg2 
import pandas as ps
from sqlalchemy import create_engine
from sqlalchemy import URL

url_object = URL.create(
    
    "postgresql+psycopg2",
    username="postgres",
    password="openpgpwd",  # plain (unescaped) text
    host="localhost",
   # database="test",
    database="RetailDB",
)
#alchemyEngine = create_engine(postgresql+psycopg2://openpg:P@ssw0rd@localhost:5432/RetailDB);

alchemyEngine = create_engine(url_object);
# Connect to PostgreSQL server
#print(alchemyEngine)
dbConnection = alchemyEngine.connect();
#print(dbConnection) """

In [ ]:
""" # Read data from PostgreSQL database table and load into a DataFrame instance

df   = ps.read_sql("SELECT * FROM sale_order_line LIMIT 100", dbConnection)
ps.set_option('display.expand_frame_repr', False)

 """

In [ ]:
""" from sqlalchemy import text

con=alchemyEngine.connect()
query = "SELECT * FROM sale_order_line LIMIT 100;"
result =con.execute(text(query))
df= ps.DataFrame(list(result))
df.head(5) """

In [8]:
import pandas as pd
conn="postgresql://postgres:openpgpwd@localhost:5432/RetailDB"
query='''SELECT * FROM sale_order_line LIMIT 5;'''
df=pd.read_sql(query,conn)

In [9]:
df

,id,order_id,sequence,company_id,currency_id,order_partner_id,salesman_id,product_id,product_uom,product_packaging_id,...,reservation_begin,start_date,is_rental,return_date,qty_returned,parent_line_id,pricing_id,has_displayed_warning_upsell,remaining_hours,fsm_lot_id
0,1,1,10,1,1,11,6,42,1,None,...,None,None,False,None,0.0,None,None,None,0.0,None
1,2,1,10,1,1,11,6,17,1,None,...,None,None,False,None,0.0,None,None,None,0.0,None
2,3,1,10,1,1,11,6,16,1,None,...,None,None,False,None,0.0,None,None,None,0.0,None
3,4,2,10,1,1,13,2,14,4,None,...,None,None,False,None,0.0,None,None,None,0.0,None
4,5,2,10,1,1,13,2,15,4,None,...,None,None,False,None,0.0,None,None,None,0.0,None

connector Mysql

In [21]:
""" import mysql.connector

cnx = mysql.connector.connect(user='root', password='openpgpwd',
                              host='127.0.0.1',
                              database='mydbtest')
cnx.close() """

In [14]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [22]:
%env  DATABASE_URL = 'mysql://{user}:{password}@localhost/mydbtest'.format(user='root',password='openpgpwd')

env: DATABASE_URL='mysql://{user}:{password}@localhost/mydbtest'.format(user='root',password='openpgpwd')

In [23]:
connection_url = 'mysql://{user}:{password}@localhost/mydbtest'.format(user='root',password='openpgpwd')
print((connection_url))
%sql {connection_url}

mysql://root:openpgpwd@localhost/mydbtest

In [24]:
%%sql
select * from mttable;

 * mysql://root:***@localhost/mydbtest
   postgresql://postgres:***@localhost:5432/RetailDB
6 rows affected.

[('Muhammad', 2),
 ('Muhammad', 1),
 ('Muhammad', 1),
 ('Muhammad', 1),
 ('Muhammad', 1),
 ('Muhammad', 1)]