Connect MongoDB

In [ ]:
#!pip install pyodbc

In [5]:
#import pyodbc

In [ ]:
#!pip install pymongo

mongodb://localhost:27017/

In [16]:
import pymongo
myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["Mydb"]

fetch Customer data

In [40]:
CustomerColl = mydb["Customer"]
Query_CustomerID={'CustomerID': 1}

fetch order Data

In [20]:
OrderCall=mydb["Order"]
Query_Order={"SALESID" : "01088299_SO"}

Convert data to dataframe

In [32]:
import pandas as pd

In [41]:
df_Customer=pd.DataFrame(list(CustomerColl.find(Query_CustomerID)))
df_Customer

,_id,CustomerName,CustomerID,ID,CompanyID,IDNATIONALSTR,Age,Range Age
0,648c0167bf1781fae707c3ea,قدري محمود,1,000002893_01,mfco,24566,124,UnKnown

In [34]:
df_Customer.columns

Index(['_id', 'CustomerName', 'CustomerID', 'ID', 'CompanyID', 'IDNATIONALSTR',
       'Age', 'Range Age'],
      dtype='object')

In [43]:
df_order= pd.DataFrame(list(OrderCall.find(Query_Order)))
df_order

,_id,SALESID,LINENUM,StatusID,TAXGROUP,QTYORDERED,SALESPRICE,LINEPERCENT,LINEDISC,LINEAMOUNT,...,OrderDateKey,TaxValues,ReceiptDateKey,OrderDate,AmountTaxS,DateDiff,DataRange,Time,Hour,Hours
0,648c0902bf1781fae709c8d5,01088299_SO,1,3,*14%,1,2013.16,10,0,1811.84,...,7072020,14,1092020,2020-07-29,2065.4976,34,From 30 To 35,06:03:33 م,18,18
1,648c090ebf1781fae70b0f4a,01088299_SO,3,3,*14%,1,1385.96,10,0,1247.36,...,7072020,14,1092020,2020-07-29,1421.9904,34,From 30 To 35,06:03:33 م,18,18
2,648c0913bf1781fae70b9e75,01088299_SO,2,3,*14%,1,2013.16,10,0,1811.84,...,7072020,14,1092020,2020-07-29,2065.4976,34,From 30 To 35,06:03:33 م,18,18

In [24]:
df_order.columns

Index(['_id', 'SALESID', 'LINENUM', 'StatusID', 'TAXGROUP', 'QTYORDERED',
       'SALESPRICE', 'LINEPERCENT', 'LINEDISC', 'LINEAMOUNT', 'AmountTax',
       'SALESQTY', 'SALESTYPE', 'INVENTDIMID', 'ReceiptDate', 'ProductID',
       'CustomerID', 'RegionID', 'SalesGroupID', 'CompanyID', 'SubProductID',
       'OrderDateKey', 'TaxValues', 'ReceiptDateKey', 'OrderDate',
       'AmountTaxS', 'DateDiff', 'DataRange', 'Time', 'Hour', 'Hours'],
      dtype='object')