Connect MongoDB

In [1]:
#!pip install pyodbc

In [2]:
#import pyodbc

In [3]:
#!pip install pymongo

mongodb://localhost:27017/

In [4]:
import pymongo
myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["Mydb"]

fetch Customer data

In [5]:
CustomerColl = mydb["Customer"].find().limit(100)
#Query_CustomerID={'CustomerID':  75857}

fetch order Data

In [6]:
OrderCall=mydb["Order"].find().limit(100)
Query_Order={"CustomerID" : 75857}

Convert data to dataframe

In [7]:
import pandas as pd

In [8]:
df_Customer=pd.DataFrame(list(CustomerColl))
df_Customer

,_id,CustomerName,CustomerID,ID,CompanyID,IDNATIONALSTR,Age,Range Age
0,648c0167bf1781fae707c3ea,قدري محمود,1,000002893_01,mfco,24566,124,UnKnown
1,648c0167bf1781fae707c3eb,احمد سليمان شفيق,3,000002897_01,mfco,000002897_01,124,UnKnown
2,648c0167bf1781fae707c3ec,مونيكا فايز,4,000002900_01,mfco,000002900_01,124,UnKnown
3,648c0167bf1781fae707c3ed,عادل محمد مصطفى,5,000002901_01,mfco,000002901_01,124,UnKnown
4,648c0167bf1781fae707c3ee,شركة ايماج للمياة المعدنية,6,000002905_01,mfco,000002905_01,124,UnKnown
...,...,...,...,...,...,...,...,...
95,648c0167bf1781fae707c449,محمد حنفى سيد,99,000012691_01,mfco,000012691_01,124,UnKnown
96,648c0167bf1781fae707c44a,منى سعفان,100,000012694_01,mfco,000012694_01,124,UnKnown
97,648c0167bf1781fae707c44b,صلاح احمد شمس,101,000012738_01,mfco,000012738_01,124,UnKnown
98,648c0167bf1781fae707c44c,علاء الدين يوسف عبد المجيد,102,000012741_01,mfco,000012741_01,124,UnKnown
99,648c0167bf1781fae707c44d,شعبان عبدألرازق سعيد,103,000012780_01,mfco,000012780_01,124,UnKnown

In [9]:
df_Customer.columns

Index(['_id', 'CustomerName', 'CustomerID', 'ID', 'CompanyID', 'IDNATIONALSTR',
       'Age', 'Range Age'],
      dtype='object')

In [10]:
df_order= pd.DataFrame(list(OrderCall))
df_order

,_id,SALESID,LINENUM,StatusID,TAXGROUP,QTYORDERED,SALESPRICE,LINEPERCENT,LINEDISC,LINEAMOUNT,...,OrderDateKey,TaxValues,ReceiptDateKey,OrderDate,AmountTaxS,DateDiff,DataRange,Time,Hour,Hours
0,648c0902bf1781fae709c8d5,01088299_SO,1,3,*14%,1,2013.16,10,0,1811.84,...,7072020,14,1092020,2020-07-29,2065.4976,34,From 30 To 35,06:03:33 م,18,18
1,648c0902bf1781fae709c8d6,01084337_SO,1,3,*14%,1,2013.16,10,0,1811.84,...,7122019,14,3022020,2019-12-28,2065.4976,37,From 35 To 40,06:59:33 م,18,18
2,648c0902bf1781fae709c8d7,01084353_SO,1,3,*14%,1,2013.16,10,0,1811.84,...,7012020,14,4022020,2020-01-02,2065.4976,33,From 30 To 35,06:31:17 م,18,18
3,648c0902bf1781fae709c8d8,01085241_SO,1,3,*14%,1,2013.16,10,0,1811.84,...,7012020,14,18022020,2020-01-22,2065.4976,27,From 25 To 30,11:36:36 ص,11,11
4,648c0902bf1781fae709c8d9,01085425_SO,1,3,*14%,1,2013.16,10,0,1811.84,...,7012020,14,25022020,2020-01-26,2065.4976,30,From 30 To 35,02:59:10 م,14,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,648c0902bf1781fae709c934,01085029_SO,1,3,*14%,1,2013.16,10,0,1811.84,...,7122019,14,18012020,2019-12-07,2065.4976,42,From 40 To 45,01:42:25 م,13,13
96,648c0902bf1781fae709c935,01084263_SO,1,3,*14%,1,2013.16,10,0,1811.84,...,7122019,14,19012020,2019-12-07,2065.4976,43,From 40 To 45,07:15:45 م,19,19
97,648c0902bf1781fae709c936,01084827_SO,1,3,*14%,1,2013.16,10,0,1811.84,...,7122019,14,12012020,2019-12-09,2065.4976,34,From 30 To 35,12:30:06 م,12,12
98,648c0902bf1781fae709c937,01088065_SO,1,3,*14%,1,2013.16,10,0,1811.84,...,7072020,14,26082020,2020-07-14,2065.4976,43,From 40 To 45,08:38:33 ص,8,8
99,648c0902bf1781fae709c938,01088084_SO,1,3,*14%,1,2013.16,10,0,1811.84,...,7072020,14,2092020,2020-07-20,2065.4976,44,From 40 To 45,04:39:45 م,16,16

In [11]:
df_order.columns

Index(['_id', 'SALESID', 'LINENUM', 'StatusID', 'TAXGROUP', 'QTYORDERED',
       'SALESPRICE', 'LINEPERCENT', 'LINEDISC', 'LINEAMOUNT', 'AmountTax',
       'SALESQTY', 'SALESTYPE', 'INVENTDIMID', 'ReceiptDate', 'ProductID',
       'CustomerID', 'RegionID', 'SalesGroupID', 'CompanyID', 'SubProductID',
       'OrderDateKey', 'TaxValues', 'ReceiptDateKey', 'OrderDate',
       'AmountTaxS', 'DateDiff', 'DataRange', 'Time', 'Hour', 'Hours'],
      dtype='object')

In [12]:
df_order.describe()

,LINENUM,StatusID,QTYORDERED,SALESPRICE,LINEPERCENT,LINEDISC,LINEAMOUNT,AmountTax,SALESQTY,SALESTYPE,...,CompanyID,SubProductID,OrderDateKey,TaxValues,ReceiptDateKey,OrderDate,AmountTaxS,DateDiff,Hour,Hours
count,100.0,100.0,100.0,1.000000e+02,100.0,100.0,1.000000e+02,1.000000e+02,100.0,100.0,...,100.0,100.0,1.000000e+02,100.0,1.000000e+02,100,1.000000e+02,100.000000,100.000000,100.000000
mean,1.0,3.0,1.0,2.013160e+03,10.0,0.0,1.811840e+03,2.065498e+03,1.0,3.0,...,3.0,21.0,7.071520e+06,14.0,1.526712e+07,2020-08-09 04:19:12,2.065498e+03,29.990000,13.940000,13.940000
min,1.0,3.0,1.0,2.013160e+03,10.0,0.0,1.811840e+03,2.065498e+03,1.0,3.0,...,3.0,21.0,7.012020e+06,14.0,1.032020e+06,2019-08-31 00:00:00,2.065498e+03,5.000000,8.000000,8.000000
25%,1.0,3.0,1.0,2.013160e+03,10.0,0.0,1.811840e+03,2.065498e+03,1.0,3.0,...,3.0,21.0,7.032021e+06,14.0,7.804520e+06,2020-02-01 00:00:00,2.065498e+03,22.750000,11.000000,11.000000
50%,1.0,3.0,1.0,2.013160e+03,10.0,0.0,1.811840e+03,2.065498e+03,1.0,3.0,...,3.0,21.0,7.072020e+06,14.0,1.556702e+07,2020-09-17 12:00:00,2.065498e+03,28.500000,14.000000,14.000000
75%,1.0,3.0,1.0,2.013160e+03,10.0,0.0,1.811840e+03,2.065498e+03,1.0,3.0,...,3.0,21.0,7.112019e+06,14.0,2.234452e+07,2021-01-13 06:00:00,2.065498e+03,36.250000,17.000000,17.000000
max,1.0,3.0,1.0,2.013160e+03,10.0,0.0,1.811840e+03,2.065498e+03,1.0,3.0,...,3.0,21.0,7.122020e+06,14.0,3.105202e+07,2021-05-23 00:00:00,2.065498e+03,192.000000,20.000000,20.000000
std,0.0,0.0,0.0,2.285191e-13,0.0,0.0,2.285191e-13,4.570383e-13,0.0,0.0,...,0.0,0.0,3.769511e+04,0.0,8.496446e+06,NaN,4.570383e-13,18.843585,3.446034,3.446034

In [13]:
df_Customer.set_index('CustomerID')

,_id,CustomerName,ID,CompanyID,IDNATIONALSTR,Age,Range Age
CustomerID,,,,,,,
1,648c0167bf1781fae707c3ea,قدري محمود,000002893_01,mfco,24566,124,UnKnown
3,648c0167bf1781fae707c3eb,احمد سليمان شفيق,000002897_01,mfco,000002897_01,124,UnKnown
4,648c0167bf1781fae707c3ec,مونيكا فايز,000002900_01,mfco,000002900_01,124,UnKnown
5,648c0167bf1781fae707c3ed,عادل محمد مصطفى,000002901_01,mfco,000002901_01,124,UnKnown
6,648c0167bf1781fae707c3ee,شركة ايماج للمياة المعدنية,000002905_01,mfco,000002905_01,124,UnKnown
...,...,...,...,...,...,...,...
99,648c0167bf1781fae707c449,محمد حنفى سيد,000012691_01,mfco,000012691_01,124,UnKnown
100,648c0167bf1781fae707c44a,منى سعفان,000012694_01,mfco,000012694_01,124,UnKnown
101,648c0167bf1781fae707c44b,صلاح احمد شمس,000012738_01,mfco,000012738_01,124,UnKnown
102,648c0167bf1781fae707c44c,علاء الدين يوسف عبد المجيد,000012741_01,mfco,000012741_01,124,UnKnown
103,648c0167bf1781fae707c44d,شعبان عبدألرازق سعيد,000012780_01,mfco,000012780_01,124,UnKnown

In [14]:

df_Customer=df_Customer.set_index('CustomerID')
df_order=df_order.set_index('CustomerID')

In [15]:
customer_order=df_Customer.\
    join(df_order,how='left',  lsuffix='_Order')
customer_order

,_id_Order,CustomerName,ID,CompanyID_Order,IDNATIONALSTR,Age,Range Age,_id,SALESID,LINENUM,...,OrderDateKey,TaxValues,ReceiptDateKey,OrderDate,AmountTaxS,DateDiff,DataRange,Time,Hour,Hours
CustomerID,,,,,,,,,,,,,,,,,,,,,
1,648c0167bf1781fae707c3ea,قدري محمود,000002893_01,mfco,24566,124,UnKnown,NaN,NaN,NaN,...,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN
3,648c0167bf1781fae707c3eb,احمد سليمان شفيق,000002897_01,mfco,000002897_01,124,UnKnown,NaN,NaN,NaN,...,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN
4,648c0167bf1781fae707c3ec,مونيكا فايز,000002900_01,mfco,000002900_01,124,UnKnown,NaN,NaN,NaN,...,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN
5,648c0167bf1781fae707c3ed,عادل محمد مصطفى,000002901_01,mfco,000002901_01,124,UnKnown,NaN,NaN,NaN,...,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN
6,648c0167bf1781fae707c3ee,شركة ايماج للمياة المعدنية,000002905_01,mfco,000002905_01,124,UnKnown,NaN,NaN,NaN,...,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99,648c0167bf1781fae707c449,محمد حنفى سيد,000012691_01,mfco,000012691_01,124,UnKnown,NaN,NaN,NaN,...,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN
100,648c0167bf1781fae707c44a,منى سعفان,000012694_01,mfco,000012694_01,124,UnKnown,NaN,NaN,NaN,...,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN
101,648c0167bf1781fae707c44b,صلاح احمد شمس,000012738_01,mfco,000012738_01,124,UnKnown,NaN,NaN,NaN,...,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN
102,648c0167bf1781fae707c44c,علاء الدين يوسف عبد المجيد,000012741_01,mfco,000012741_01,124,UnKnown,NaN,NaN,NaN,...,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN
103,648c0167bf1781fae707c44d,شعبان عبدألرازق سعيد,000012780_01,mfco,000012780_01,124,UnKnown,NaN,NaN,NaN,...,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
customer_order.head(5)

,_id_Order,CustomerName,ID,CompanyID_Order,IDNATIONALSTR,Age,Range Age,_id,SALESID,LINENUM,...,OrderDateKey,TaxValues,ReceiptDateKey,OrderDate,AmountTaxS,DateDiff,DataRange,Time,Hour,Hours
CustomerID,,,,,,,,,,,,,,,,,,,,,
1,648c0167bf1781fae707c3ea,قدري محمود,000002893_01,mfco,24566,124,UnKnown,NaN,NaN,NaN,...,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN
3,648c0167bf1781fae707c3eb,احمد سليمان شفيق,000002897_01,mfco,000002897_01,124,UnKnown,NaN,NaN,NaN,...,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN
4,648c0167bf1781fae707c3ec,مونيكا فايز,000002900_01,mfco,000002900_01,124,UnKnown,NaN,NaN,NaN,...,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN
5,648c0167bf1781fae707c3ed,عادل محمد مصطفى,000002901_01,mfco,000002901_01,124,UnKnown,NaN,NaN,NaN,...,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN
6,648c0167bf1781fae707c3ee,شركة ايماج للمياة المعدنية,000002905_01,mfco,000002905_01,124,UnKnown,NaN,NaN,NaN,...,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN