Connect MongoDB

In [214]:
#!pip install pyodbc

In [215]:
#import pyodbc

In [216]:
#!pip install pymongo

mongodb://localhost:27017/

In [217]:
import pymongo
myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["Mydb"]

fetch Customer data

In [218]:
CustomerColl = mydb["Customer"]
Query_CustomerID={'CustomerID':  75857}

fetch order Data

In [219]:
OrderCall=mydb["Order"]
Query_Order={"CustomerID" : 75857}

Convert data to dataframe

In [220]:
import pandas as pd

In [221]:
df_Customer=pd.DataFrame(list(CustomerColl.find(Query_CustomerID)))
df_Customer

,_id,CustomerName,CustomerID,ID,CompanyID,IDNATIONALSTR,Age,Range Age
0,648c016bbf1781fae708c0af,هبة محمد عبد الله,75857,01-115896955,mfco,01-115896955,124,UnKnown

In [222]:
df_Customer.columns

Index(['_id', 'CustomerName', 'CustomerID', 'ID', 'CompanyID', 'IDNATIONALSTR',
       'Age', 'Range Age'],
      dtype='object')

In [223]:
df_order= pd.DataFrame(list(OrderCall.find(Query_Order)))
df_order

,_id,SALESID,LINENUM,StatusID,TAXGROUP,QTYORDERED,SALESPRICE,LINEPERCENT,LINEDISC,LINEAMOUNT,...,OrderDateKey,TaxValues,ReceiptDateKey,OrderDate,AmountTaxS,DateDiff,DataRange,Time,Hour,Hours
0,648c0930bf1781fae70e7740,01038851_SO,3,3,*10%,1,614,7,0,571.02,...,7012013,10,20012013,2013-01-01,628.122,19,From 15 To 20,04:38:11 م,16,16
1,648c0931bf1781fae70e8b1a,01038851_SO,2,3,*10%,1,614,7,0,571.02,...,7012013,10,20012013,2013-01-01,628.122,19,From 15 To 20,04:38:11 م,16,16
2,648c0932bf1781fae70ea451,01038851_SO,1,3,*10%,1,855,7,0,795.15,...,7012013,10,20012013,2013-01-01,874.665,19,From 15 To 20,04:38:11 م,16,16

In [224]:
df_order.columns

Index(['_id', 'SALESID', 'LINENUM', 'StatusID', 'TAXGROUP', 'QTYORDERED',
       'SALESPRICE', 'LINEPERCENT', 'LINEDISC', 'LINEAMOUNT', 'AmountTax',
       'SALESQTY', 'SALESTYPE', 'INVENTDIMID', 'ReceiptDate', 'ProductID',
       'CustomerID', 'RegionID', 'SalesGroupID', 'CompanyID', 'OrderDateKey',
       'TaxValues', 'ReceiptDateKey', 'OrderDate', 'AmountTaxS', 'DateDiff',
       'DataRange', 'Time', 'Hour', 'Hours'],
      dtype='object')

In [225]:
df_order.describe()

,LINENUM,StatusID,QTYORDERED,SALESPRICE,LINEPERCENT,LINEDISC,LINEAMOUNT,AmountTax,SALESQTY,SALESTYPE,...,SalesGroupID,CompanyID,OrderDateKey,TaxValues,ReceiptDateKey,OrderDate,AmountTaxS,DateDiff,Hour,Hours
count,3.0,3.0,3.0,3.000000,3.0,3.0,3.000000,3.000000,3.0,3.0,...,3.0,3.0,3.0,3.0,3.0,3,3.000000,3.0,3.0,3.0
mean,2.0,3.0,1.0,694.333333,7.0,0.0,645.730000,710.303000,1.0,3.0,...,2.0,3.0,7012013.0,10.0,20012013.0,2013-01-01 00:00:00,710.303000,19.0,16.0,16.0
min,1.0,3.0,1.0,614.000000,7.0,0.0,571.020000,628.122000,1.0,3.0,...,2.0,3.0,7012013.0,10.0,20012013.0,2013-01-01 00:00:00,628.122000,19.0,16.0,16.0
25%,1.5,3.0,1.0,614.000000,7.0,0.0,571.020000,628.122000,1.0,3.0,...,2.0,3.0,7012013.0,10.0,20012013.0,2013-01-01 00:00:00,628.122000,19.0,16.0,16.0
50%,2.0,3.0,1.0,614.000000,7.0,0.0,571.020000,628.122000,1.0,3.0,...,2.0,3.0,7012013.0,10.0,20012013.0,2013-01-01 00:00:00,628.122000,19.0,16.0,16.0
75%,2.5,3.0,1.0,734.500000,7.0,0.0,683.085000,751.393500,1.0,3.0,...,2.0,3.0,7012013.0,10.0,20012013.0,2013-01-01 00:00:00,751.393500,19.0,16.0,16.0
max,3.0,3.0,1.0,855.000000,7.0,0.0,795.150000,874.665000,1.0,3.0,...,2.0,3.0,7012013.0,10.0,20012013.0,2013-01-01 00:00:00,874.665000,19.0,16.0,16.0
std,1.0,0.0,0.0,139.141415,0.0,0.0,129.401516,142.341667,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,NaN,142.341667,0.0,0.0,0.0

In [226]:
#df_order.rename(columns = {'CustomerID':'Order_Customer_id'},inplace=True)

In [227]:
df_Customer.set_index('CustomerID')

,_id,CustomerName,ID,CompanyID,IDNATIONALSTR,Age,Range Age
CustomerID,,,,,,,
75857,648c016bbf1781fae708c0af,هبة محمد عبد الله,01-115896955,mfco,01-115896955,124,UnKnown

In [228]:
df_Customer.set_index('CustomerID')

,_id,CustomerName,ID,CompanyID,IDNATIONALSTR,Age,Range Age
CustomerID,,,,,,,
75857,648c016bbf1781fae708c0af,هبة محمد عبد الله,01-115896955,mfco,01-115896955,124,UnKnown

In [229]:
df_order.set_index('CustomerID')

,_id,SALESID,LINENUM,StatusID,TAXGROUP,QTYORDERED,SALESPRICE,LINEPERCENT,LINEDISC,LINEAMOUNT,...,OrderDateKey,TaxValues,ReceiptDateKey,OrderDate,AmountTaxS,DateDiff,DataRange,Time,Hour,Hours
CustomerID,,,,,,,,,,,,,,,,,,,,,
75857,648c0930bf1781fae70e7740,01038851_SO,3,3,*10%,1,614,7,0,571.02,...,7012013,10,20012013,2013-01-01,628.122,19,From 15 To 20,04:38:11 م,16,16
75857,648c0931bf1781fae70e8b1a,01038851_SO,2,3,*10%,1,614,7,0,571.02,...,7012013,10,20012013,2013-01-01,628.122,19,From 15 To 20,04:38:11 م,16,16
75857,648c0932bf1781fae70ea451,01038851_SO,1,3,*10%,1,855,7,0,795.15,...,7012013,10,20012013,2013-01-01,874.665,19,From 15 To 20,04:38:11 م,16,16

In [230]:

df_Customer=df_Customer.set_index('CustomerID')
df_order=df_order.set_index('CustomerID')

In [231]:
customer_order=df_Customer.\
    join(df_order,how='left',  lsuffix='_left')
customer_order

,_id_left,CustomerName,ID,CompanyID_left,IDNATIONALSTR,Age,Range Age,_id,SALESID,LINENUM,...,OrderDateKey,TaxValues,ReceiptDateKey,OrderDate,AmountTaxS,DateDiff,DataRange,Time,Hour,Hours
CustomerID,,,,,,,,,,,,,,,,,,,,,
75857,648c016bbf1781fae708c0af,هبة محمد عبد الله,01-115896955,mfco,01-115896955,124,UnKnown,648c0930bf1781fae70e7740,01038851_SO,3,...,7012013,10,20012013,2013-01-01,628.122,19,From 15 To 20,04:38:11 م,16,16
75857,648c016bbf1781fae708c0af,هبة محمد عبد الله,01-115896955,mfco,01-115896955,124,UnKnown,648c0931bf1781fae70e8b1a,01038851_SO,2,...,7012013,10,20012013,2013-01-01,628.122,19,From 15 To 20,04:38:11 م,16,16
75857,648c016bbf1781fae708c0af,هبة محمد عبد الله,01-115896955,mfco,01-115896955,124,UnKnown,648c0932bf1781fae70ea451,01038851_SO,1,...,7012013,10,20012013,2013-01-01,874.665,19,From 15 To 20,04:38:11 م,16,16