!pip install Lib.txt

In [ ]:
!pip install -r "F:\30-Work\DataEngineer\Lib.txt"

In [ ]:
import psycopg2
import pandas as ps
from sqlalchemy import create_engine
from sqlalchemy import URL
import multiprocessing as mult

# Connect to PostgreSQL server

In [ ]:
url_object = URL.create(
    "postgresql+psycopg2",
    username="postgres",
    password="openpgpwd",  # plain (unescaped) text
    host="localhost",
    # database="test",
    database="RetailDB",
)
alchemyEngine = create_engine(url_object)
dbConnection = alchemyEngine.connect()

In [ ]:
query = '''SELECT order_id ,sum(price_total) as price_total FROM sale_order_line
        group by order_id
        order by sum(price_total)  desc
        ;'''
df = ps.read_sql(query, dbConnection)

In [ ]:
%%sql

In [ ]:
help(df.to_sql)

In [ ]:
connPostsql = 'postgresql+psycopg2://{user}:{password}@localhost/RetailDB'.format(
    user='postgres', password='openpgpwd')

In [ ]:
connection_Postsqlurl = 'postgresql+psycopg2://{user}:{password}@localhost/RetailDB'.format(user='postgres',password='openpgpwd')
%sql {connection_Postsqlurl}

In [39]:
%%sql  
select * from sale_order_line limit 5

 * postgresql+psycopg2://postgres:***@localhost/RetailDB
5 rows affected.

[(1, 1, 10, 1, 1, 11, 6, 42, 1, None, 1, 1, 'draft', None, 'stock_move', 'no', None, '[FURN_6666] Acoustic Bloc Screens', Decimal('3.00'), Decimal('295.00'), Decimal('0.00'), Decimal('295.00'), Decimal('885.00'), Decimal('885.00'), Decimal('295.00'), Decimal('295.00'), Decimal('0.00'), Decimal('0.00'), Decimal('0.00'), Decimal('0.00'), Decimal('0.00'), None, None, datetime.datetime(2023, 6, 8, 6, 29, 24, 888890), datetime.datetime(2023, 6, 8, 6, 29, 24, 888890), 0.0, 0.0, 0.0, None, None, None, 0.0, 0.0, False, None, None, None, None, False, None, 0.0, None, None, None, 0.0, None),
 (2, 1, 10, 1, 1, 11, 6, 17, 1, None, 1, 1, 'draft', None, 'stock_move', 'no', None, '[FURN_8888] Office Lamp', Decimal('5.00'), Decimal('145.00'), Decimal('0.00'), Decimal('145.00'), Decimal('725.00'), Decimal('725.00'), Decimal('145.00'), Decimal('145.00'), Decimal('0.00'), Decimal('0.00'), Decimal('0.00'), Decimal('0.00'), Decimal('0.00'), None, None, datetime.datetime(2023, 6, 8, 6, 29, 24, 888890), datetime.datetime(2023, 6, 8, 6, 29, 24, 888890), 0.0, 0.0, 0.0, None, None, None, 0.0, 0.0, False, None, None, None, None, False, None, 0.0, None, None, None, 0.0, None),
 (3, 1, 10, 1, 1, 11, 6, 16, 1, None, 1, 1, 'draft', None, 'stock_move', 'no', None, '[FURN_7777] Office Chair', Decimal('2.00'), Decimal('65.00'), Decimal('0.00'), Decimal('65.00'), Decimal('130.00'), Decimal('130.00'), Decimal('65.00'), Decimal('65.00'), Decimal('0.00'), Decimal('0.00'), Decimal('0.00'), Decimal('0.00'), Decimal('0.00'), None, None, datetime.datetime(2023, 6, 8, 6, 29, 24, 888890), datetime.datetime(2023, 6, 8, 6, 29, 24, 888890), 0.0, 0.0, 0.0, None, None, None, 0.0, 0.0, False, None, None, None, None, False, None, 0.0, None, None, None, 0.0, None),
 (4, 2, 10, 1, 1, 13, 2, 14, 4, None, 1, 1, 'draft', None, 'manual', 'no', None, 'Virtual Interior Design', Decimal('24.00'), Decimal('75.00'), Decimal('0.00'), Decimal('75.00'), Decimal('1800.00'), Decimal('1800.00'), Decimal('75.00'), Decimal('75.00'), Decimal('0.00'), Decimal('0.00'), Decimal('0.00'), Decimal('0.00'), Decimal('0.00'), None, None, datetime.datetime(2023, 6, 8, 6, 29, 24, 888890), datetime.datetime(2023, 6, 8, 6, 29, 24, 888890), 0.0, 0.0, 0.0, None, None, None, 0.0, 0.0, True, None, None, None, None, False, None, 0.0, None, None, None, 0.0, None),
 (5, 2, 10, 1, 1, 13, 2, 15, 4, None, 1, 1, 'draft', None, 'manual', 'no', None, 'Virtual Home Staging', Decimal('30.00'), Decimal('38.25'), Decimal('0.00'), Decimal('38.25'), Decimal('1147.50'), Decimal('1147.50'), Decimal('38.25'), Decimal('38.25'), Decimal('0.00'), Decimal('0.00'), Decimal('0.00'), Decimal('0.00'), Decimal('0.00'), None, None, datetime.datetime(2023, 6, 8, 6, 29, 24, 888890), datetime.datetime(2023, 6, 8, 6, 29, 24, 888890), 0.0, 0.0, 0.0, None, None, None, 0.0, 0.0, True, None, None, None, None, False, None, 0.0, None, None, None, 0.0, None)]

# Connect to Mysql server

In [ ]:
# Read data from PostgreSQL database table and load into a DataFrame in MySQL
chunksize = 20
df_reader = ps.read_sql(query, dbConnection, chunksize=chunksize)
ps.set_option('display.expand_frame_repr', False)
for df in df_reader:
    # insert into from Potstgres to Myqsql
    df.to_sql('sale_order_line', connMysql,
              if_exists='append', index=False, method='multi')
    print(df, df.shape)
# dbConnection.close()

In [ ]:
queryMysql = '''select * from sale_order_line'''
dfMysql = ps.read_sql(queryMysql, connMysql)
dfMysql
#

In [ ]:
%load_ext sql

In [ ]:
%env  DATABASE_URL = 'mysql://{user}:{password}@localhost/mydbtest'.format(user='root',password='openpgpwd')

In [ ]:
connection_url = 'mysql://{user}:{password}@localhost/mydbtest'.format(user='root',password='openpgpwd')
%sql {connection_url}

In [ ]:
%%sql  
select * from sale_order_line

In [ ]:
%%sql
delete from sale_order_line;